[2013-06-13 19:52] jedestep opened #1 "Decode f64 from ~[u8]"
In order to produce Double(f64) variants when decoding, ~[u8] values need to be converted to doubles. There currently is no to_bytes() or from_bytes implementation for any float type in rust's libraries and even unsafe typecasting has so far not worked out.

At some point I may end up calling to a C function to do this computation since doing IEEE 754 conversion in Rust has proven to be fairly pai

[2013-06-13 21:14] jedestep opened #2 "Documents converted from JSON may have their keys unordered"
Using extra::json::from_str will place key/val pairs in a std::hashmap::Hashmap, which is unordered. The only way around this might be to define our own JSON parsing function, replacing from_str and using our internal OrderedHashmap implementation (or LinkedHashmap, whenever it makes its way into libextra).

[2013-06-17 16:55] #2 closed, assigned to nobody

[2013-06-17 19:15] jedestep opened #3 "Implement Encodable and Decodable traits"
Not sure whether or not this provides a lot of real benefit. But looking into it would be smart.

[2013-06-25 15:12] #3 closed, assigned to nobody

[2013-06-25 15:13] jedestep opened #4 "Clean up Encodable implementation"
The Encodable implementation for BsonDocument is a mess. See #3 for reference.

[2013-06-26 21:14] jedestep opened #5 "Refactor json_parse.rs with macros"
The JSON parser contains a lot of duplicate code. Some macros would clean it up.

[2013-06-27 19:29] #4 closed, assigned to nobody

[2013-06-27 22:25] #5 closed, assigned to nobody

[2013-07-01 19:08] jedestep opened #6 "Move mocking code into its own package"
Currently blocked on Rust being unable to export macros outside of a given crate.

Right now, the code defined in `mock` and `mockable` are bound to the libmongo crate, though they could certainly stand on their own. They should be moved once macros can be exported beyond `#[macro_escape]`.

[2013-07-01 21:31] jedestep opened #7 "Fix issues caused by 0.7"
0.7 has introduced a few significant changes:
- `+=` is no longer available. While this is temporary, it means any managed vector (`@[T]`) is hamstrung for the moment. The only place where I _know_ this was present was in `mockable.rs` which is fine without it, but if any other code has this type it will need to be updated.
  - Oddly, `&=` and `|=` seem to still be available, despite what the rele

[2013-07-02 20:46] jedestep opened #8 "Valgrind reports memory leaks"
I'm not sure how memory leaks could develop but the BSON library alone leaks about 200K when running all the tests. I'm looking into what could cause this.

[2013-07-05 21:13] jedestep opened #9 "Implement authentication"
Master currently has some basic code for doing authentication. It is blocked on two major components:
- [x] Get an MD5 implementation. There are OpenSSL bindings at https://github.com/kballard/rustcrypto. May take some effort to get appropriately packaged though.
- [x] Have run_command return an appropriate value on success. Right now a successful command always returns (), but the authenticate me

[2013-07-09 15:03] #9 closed, assigned to nobody

[2013-07-09 15:05] jedestep opened #10 "libmongo/test/indices randomly fails"
While running the libmongo tests, indices failed once at an unwrap call. I have not been able to duplicate this but I suspect it is something weird with the test runner. A couple of tests print something to stdout and that output is not always shown, so the test runner seems bugged out for some reason.

[2013-07-09 17:50] #10 closed, assigned to nobody

[2013-07-09 19:21] #7 closed, assigned to nobody

[2013-07-09 19:21] #6 closed, assigned to nobody

[2013-07-09 20:38] #1 closed, assigned to nobody

[2013-07-10 15:48] jedestep opened #11 "Make project (partially) buildable with rustpkg"
Renaming ```bson/bson.rc``` and ```libmongo/mongo.rc``` each to a respective ```lib.rs``` allows each of them to be built with rustpkg. For example, from the home directory of the project executing ```$ rustpkg build bson``` will create a directory ```./build/bson``` and place the resulting library files there.

The resulting directory structure will be different from what we have now. Make would

[2013-07-10 15:53] jedestep opened #12 "Rename 'libmongo' folder"
Regardless of what we opt to do for #11, I think it would make sense to move `src/libmongo` to a different name. The `lib` prefix isn't required with the crate structure we're using so we could move it to `src/mongo` or something less general like `src/driver`.

[2013-07-10 15:58] #12 closed, assigned to nobody

[2013-07-11 14:27] jchinlee opened #13 "authentication tests fail"
The authentication tests are failing---it appears that the BSON parser is having trouble somewhere, but there's little indication where. Fortunately, very reproducible.

[2013-07-11 19:05] #13 closed, assigned to nobody

[2013-07-22 15:50] jedestep opened #15 "Replace extra::net::tcp with std::rt::io::net::tcp"
```extra::net::tcp``` is planning on being completely removed once the new IO is finished. ```mongo::conn``` will need to be redone with reference to ```std::rt::io::net::tcp``` instead. Unfortunately, the two libraries have different APIs and different semantics so this is far from a find/replace change.

[2013-07-22 15:54] jedestep opened #16 "Do not require GC as much as feasible"
If #15 comes to fruition it would be great if we could basically remove the need for GC. Given the relationship between ```mongo::client``` and ```mongo::db``` I'm still not 100% sure it's possible but we could certainly remove most of it.

[2013-07-25 15:39] jedestep opened #18 "Have driver objects hold names as &'self str instead of ~str"
This would prevent string copies, but would remove sendability. Leaving it open for discussion.

[2013-07-25 15:50] jedestep opened #19 "Have Cursor consume its data vector instead of copying its elements"
Popping elements from the vector avoids doing O(n) copies. We may be able to leverage `std::vec::consume_iter` (or, more ideally `std::vec::consume_rev_iter` since this version does fewer swaps), but we probably don't need to.

[2013-07-25 17:48] #19 closed, assigned to nobody

[2013-07-25 19:19] jedestep opened #20 "Aggregate utility objects/functions into a single crate"
We have a lot of general-purpose code scattered around, ```bson::stream```, ```bson::ord_hash```, ```mongo::util``` and ```mongo::db::md5```. In particular, if we are going to do ObjectId generation then we need MD5 to be available to the BSON library.

[2013-07-25 21:58] jedestep opened #21 "Generate ObjectIds"
There should be a function called statically from `Document` to generate a new `ObjectId` in the correct format.

Blocked on #20.

[2013-07-29 14:13] jedestep opened #22 "MD5 has entered libstd"
At our next version update we'll be able to remove our C implementation of MD5. _Very_ exciting.

[2013-07-30 22:21] jedestep opened #25 "Speed up JSON parsing"
As long as we are stuck with a separate JSON parser, we should try and make it nicer.

BSON serialization actually benchmarks surprisingly fast, so I'm not really on the lookout for improvements there. My guess is that the usage and implementation of ```tools/stream.rs``` are suboptimal.

[2013-07-31 18:39] #21 closed, assigned to nobody

[2013-08-01 18:20] jedestep opened #26 "Avoid redundancy in formattable! macro"
Ideally, formattable! would publish two options:

[code]
This would define Foo, (maybe?) build a default ```Foo::new()```, and implement ```BsonFormattable```. This requires all of the members of Foo to implement ```Zero``` (or ```Default``` if that ever lands). All the fields of the defined struct are public and have no documentation attributes.

[code]
This works identically to the current imple

[2013-08-07 18:29] jedestep opened #28 "Use bytes! macro and extra::to_hex module"
Save some imports and some logic.

[2013-10-15 10:42] kud1ing opened #30 "Register with Travis CI"
See http://hiho.io/rust-ci/

Necessary steps: http://hiho.io/rust-ci/help/

[2015-05-13 10:49] minsler opened #31 "Move to use Rust 1.0"

[2015-05-18 15:34] gobwas commented on #31
:beer:

[2015-05-26 06:42] Hokutosei commented on #31
any development going on for this to move as an official driver for rust?

[2015-05-26 13:58] vkarpov15 commented on #31
@Hokutosei just getting started over the next week or so. For now the general plan is to use the 1.0 branch for new development. We're looking for people to provide feedback on development (review PR's, etc.), because admittedly we're all pretty new to Rust. Are you interested in helping out?

[2015-05-29 20:10] jedestep commented on #31
@vkarpov15 I would be happy to review PRs. I would also be willing to work on updating the BSON library to 1.0.

[2015-05-29 20:17] alabid commented on #31
@jedestep Hey Jed! It'd be great if you could review some PRs.
@vkarpov15 Jed -- along with @jchinlee , another MongoDB intern at the time, created the driver for Rust 0.7
Two MongoDB interns are working on updating the Rust Driver to 1.0.

[2015-06-01 00:49] vkarpov15 commented on #31
That's great news! Always happy to have some help.

There's also another bson library out there, https://crates.io/crates/bson-rs, and we're considering just wrapping libbson using rust's libc crate. What do you think, is it worth it to upgrade the 0.7 bson library? I would imagine just wrapping libbson might be easier.

[2015-06-08 22:45] jedestep commented on #31
Wrapping libbson will definitely be lower effort; at the time we wrote a native one to help boost up the Rust community which didn't really have many native third-party libraries. It would be neat to match the API to bson-rs so the driver is agnostic to the bson library used and end-users could compile in bson-rs if they chose.

[2015-06-08 23:14] vkarpov15 commented on #31
Actually re #41 we're planning on switching over to bson-rs because they have more rust-friendly APIs, using libbson just lead to a large mess of `unsafe` blocks everywhere and was more work than we'd like

[2015-06-09 20:46] saghmrossi opened #42 "Only one document parsed in reponse from server"
As of #41 in the 1.0 branch, `Message::read_reply` only parses one document from the server. This will be fixed in the future when we get around to implementing cursors.

Because of this, making multiple queries in a row may not get the correct results (again, just in the 1.0 branch) if the first query returns more than one document, so if you're testing this out and get a weird issue when making

[2015-06-15 14:38] saghmrossi commented on #42
Fixed in e01326fd97c232f24faa179aa981d75ec679244

[2015-06-15 14:38] #42 closed

[2015-06-15 21:18] kyeah opened #50 "collection.find() should return Cursors"
As of #48, collection.find() returns a list of bson documents. The expected behavior should be to return a lazy-eval cursor to iterate over batches.

[2015-06-16 20:41] #30 closed

[2015-06-16 20:42] #28 closed

[2015-06-16 20:42] #26 closed

[2015-06-16 20:42] #25 closed

[2015-06-16 20:42] #22 closed

[2015-06-16 20:42] #20 closed

[2015-06-16 20:43] #18 closed

[2015-06-16 20:43] #16 closed

[2015-06-16 20:43] #15 closed

[2015-06-16 20:44] #11 closed

[2015-06-16 20:44] #8 closed

[2015-06-17 15:55] #50 closed

[2015-06-30 21:16] kyeah opened #80 "Make MongoClient Transport-Agnostic"
Brought up by @thijsc. The client should be transport-agnostic to support the use of any stream that implements Read+Write, like [mio](https://github.com/carllerche/mio) streams.

[2015-07-08 15:03] saghm opened #88 "Multithreading support"
The first attempt at multithreading support was made in #87, but the solution of aliasing `Arc` types and then adding traits is rather messy. There should be a cleaner solution implemented at some point to avoid forcing users to import both the alias types _and_ the bulky traits.

[2015-07-08 22:21] kyeah commented on #88
My two cents (as mentioned): A self-referential `Arc` gets rid of both the alias/inner class and trait bloat while minimizing the changes made to the existing structs and making no changes to the user-facing API (8080b80).

[code]

- No additional traits to import or additional structs.
- Documentation shows up correctly (functions + documentation not hidden within traits, don't have to separate f

[2015-07-08 23:53] saghm commented on #88
I think I'd disagree with the last bullet point; having a reference to the same type is obviously useful, but having a pointer to the exact same struct itself seems messy and unneccessary;  the same functionality could be achieved by encapsulating all of the state in one struct, then having an outer struct with only an `Arc` field containing the state. Then one could implement the API on the outer

[2015-07-09 02:18] kyeah commented on #88
Like you ran into when trying to implement this previously, there's no way to implement client methods in ClientInner without having a self-reference to itself, and there's no way to implement methods in Client without reducing the functionality of anything that only receives a reference to ClientInner (which database would have to take). I would actually argue that obfuscating the client architec

[2015-07-09 02:25] saghm commented on #88
I'm not sure what you mean by "anything that only receives a reference to ClientInner"; in  the design I proposed, it isn't even public. I guess I didn't explicitly say that everything would have a reference to `Client` rather than `ClientInner`, but I thought that the fact that `Client` was public and `ClientInner` wasn't would be enough. Similarly, I'm confused by your saying "there's no way to

[2015-07-09 02:27] kyeah commented on #88
Yes, I'm describing two possibilities: methods in Client, or in ClientInner. You can't pass Arc references of `Client` because the `Client` class is unaware of whether it is being wrapped by an Arc or not, which is the reason you have an `Arc<ClientInner>` in the first place -- to clone that and pass it to `Database::new`.

[2015-07-09 03:12] saghm commented on #88
Ah, I see.

[2015-07-09 03:45] saghm commented on #88
Have you actually gotten the code sample you wrote above to compile? It seems kind of fishy that both the Arc and the Client could own each other and then have only one returned.

[2015-07-09 14:38] kyeah commented on #88
^ true. The code sample compiles, but it turns out `client.arc = Some(arc.clone());` doesn't modify the moved `client` value (although it still builds??), so the hunt for a solution continues.

[2015-07-09 17:18] saghm commented on #88
Runtime issue? \*gasp\*

[2015-07-10 19:45] kyeah opened #90 "Homogenize Read and Write operations on collections"
Read currently takes Option structs, Write doesn't. Write ops should pass options in as structs to make the API consistent.

[2015-07-13 21:43] kyeah opened #92 "Indexes and GridFS"
Index operations need to be implemented on collections. In particular, `create_index()` should be used by GridFS to index chunks on `files_id` and `n`.

[CreateIndexes](http://docs.mongodb.org/manual/reference/command/createIndexes/#dbcmd.createIndexes)
[ListIndexes](http://docs.mongodb.org/manual/reference/command/listIndexes/#dbcmd.listIndexes)
[DropIndexes](http://docs.mongodb.org/manual/refere

[2015-07-15 20:04] kyeah commented on #92
Forgot to mention in #93, but fixed.

[2015-07-15 20:04] #92 closed

[2015-07-29 14:54] soulfly opened #100 "Could not find Cargo.toml"
Here is my Cargo.toml

    [package]
    name = "pipe"
    version = "0.1.0"
    authors = ["Igor"]

    [dependencies.bson]
    git = "https://github.com/zonyitoo/bson-rs"

    [dependencies.mongodb]
    git = "https://github.com/mongodbinc-interns/mongo-rust-driver-prototype"

then I do 'cargo build' and receive:

    Unable to update https://github.com/mongodbinc-interns/mongo-rust-driver-proto

[2015-07-29 15:01] saghm commented on #100
Looks like the issue is that Cargo defaults to checking the master branch despite the 1.0 branch being the default on our repo. If you change the entry to the following, this should work:

[code]

Thanks for pointing this out! I'll update the README shortly.

[2015-07-29 15:04] soulfly commented on #100
super fast answer!
thank you, works now

[2015-07-29 15:04] #100 closed

[2015-08-10 02:42] #90 closed

[2015-08-27 17:52] #80 closed

[2015-08-30 21:38] ayosec opened #122 "Support for MongoDB 2.x"
I'm not able to use this library against a MongoDB 2.4 database.

I [changed the `travis.yml`](https://github.com/ayosec/mongo-rust-driver-prototype/commit/ea102f6df9409059e6d693869cd9711e1ed23dec) to launch tests with [multiple versions](https://travis-ci.org/ayosec/mongo-rust-driver-prototype/builds/77932949). Only 3.0.3 is working.

* [Results for 2.6.11](https://travis-ci.org/ayosec/mongo-rust

[2015-08-30 21:46] saghm commented on #122
It looks like most of the errors are caused by API-breaking changes between 2.x and 3.x. I don't think there are any plans to add support for 2.x, although you're welcome to submit a pull request.

[2015-08-31 15:22] vkarpov15 commented on #122
@saghm is right. One of the reasons why this is a prototype rather than a full-fledged driver is that it's only expected to work with MongoDB 3.0.x right now. If there's a lot of demand we're happy to work on it, but we don't quite have the spare cycles to add 2.4 / 2.6 support right now.

[2015-09-05 05:32] dariusc93 opened #123 "Encoding/decoding"
Is there a way to encode/decode a struct to bson (or json to bson) for documents? I do know bson uses rustc serialize but I do not see any test or examples to perform such a task to make sure its done right (if its possible)

[2015-09-06 03:17] kyeah commented on #123
Hey there! You can convert between json and bson using `bson.to_json()` and `Bson::from_json(json)`. You can see a small example of this in one of the [bson tests](https://github.com/zonyitoo/bson-rs/blob/master/tests/modules/bson.rs).

Struct encoding and decoding would be functionality within the bson library, and there is actually an open pull request regarding this (https://github.com/zonyitoo

[2015-09-07 17:54] dariusc93 commented on #123
Thanks @kyeah but how about converting bson to a document without having to create one and insert a key and value to it.

[2015-09-13 12:36] Byron commented on #31
It seems this issue can be closed, can it ? `bson-rs` is being used, and the project builds with Rust 1.2 stable as well.

[2015-09-14 08:39] #31 closed

[2015-09-15 04:35] #123 closed

[2015-09-23 20:27] naicode commented on #88
No more like a  bug in the borrow checker. The Error Message should have been:
 ```partial reinitialization of uninitialized structure `Client` [E0383]```

Client is moved int Arc so the client he modifies is just some "dead" stack space where once the client now moved into Arc::new had been lain. You cannot read from this "dead" stack (prevented by borrow checker) and when the stack is dropped no

[2015-09-23 20:49] saghm commented on #88
Can you give an example of code that would cause the error message you mentioned? It would help me to understand the issue at hand.

Also, I'm not sure I fully understand the rationale for wrapping the client in a mutex; instead of borrowing the client, shouldn't the user just be cloning the Arc to make another reference to it? It's my understanding that reference counting is supposed to be used a

[2015-09-24 11:33] dzobbe opened #124 "Question on how to use update_one function"
Hi,

I am having problem with update_one function. I want store time series data in MongoDB and, as suggested in many tutorials, I want to store one minute per document and each second I would like to store in a vector field the measurement. My question is: how can I update the vector inside the document? How can I add each second a new measurement value?

Thanks in advance guys.

[2015-09-24 14:28] vkarpov15 commented on #124
Does `$push` not work?

[code]

[2015-09-24 14:44] naicode commented on #88
[TL;TR Rc/Arc -> multiple **read only** references]

Yes Referenc Counting is a alternative.
But with "just" Reference Counting it is limited in this way:
- if there is more then one Rc "referenc"* all borrows are immutable
- if there is only one Rc you can also borrow mutable (but this api part is still unstable)
(else it would conflict with the borrow checker rules)

So if you want to have share

[2015-09-24 18:20] kyeah commented on #88
Hey @naicode, we are avoiding the use of mutable wrappers over the Client itself, as that will open up the possibility of poisoning the lock and killing the entire client if one thread panics. Although the Client itself (Arc<ClientInner>) has exterior mutability, we are using interior mutability wrappers at a finer level for updating the topology and server listeners.

The current client shares mu

[2015-11-17 11:06] veer66 opened #129 "Does this driver currently support $and?"
I try to use doc! {"$and": [cond1, cond2]} but it doesn't work. I'm not sure whether it is not supported or I didn't do it properly.

[2015-11-18 01:38] saghm commented on #129
I don't think there's a `$doc` operator; is that just a typo in your comment?

[2015-11-18 15:19] vkarpov15 commented on #129
@saghm is right. We have tests in place for `$and`, so in theory that should work. `$doc` is not expected to work though.

[2015-11-18 15:45] veer66 commented on #129
Excute me. It should be $and, not $doc.

[2015-11-18 17:11] vkarpov15 commented on #129
Define "doesn't work" - that's a very nebulous bug report. Can you provide some sample code that reproduces this issue?

[2015-11-18 17:21] veer66 commented on #129
"We have tests in place for $and, so in theory that should work."

Thank you for the confirmation.

[2015-11-18 17:21] #129 closed

[2015-12-02 15:00] thijsc commented on #122
Try https://github.com/thijsc/mongo-rust-driver, this driver does support MongoDB 2.x.

[2015-12-02 15:07] thijsc opened #130 "Plans for further development"
It seems like there is no active development on this driver at the moment, while that's not clear reading the readme for the project. I feel this situation makes people finding the C driver wrapper (https://github.com/thijsc/mongo-rust-driver) I wrote less likely.

The C driver wrapper is actually usable in production already, if there are no plans to finish this driver it seems like a more promis

[2015-12-02 16:10] vkarpov15 commented on #130
"Production-ready" is a bit of a loaded term for MongoDB drivers, because that has business repercussions. I personally use this driver for production use cases and there's no reason I can think of why it isn't production-ready so long as you're using MongoDB 3.0.x. We'll put in some work to make sure this driver works correctly with MongoDB 3.2. However we can't suggest this is a fully-fledged pr

[2015-12-04 09:26] thijsc commented on #130
Thanks for the clarification. I think it would be good to add the Mongo 3.0 requirement to the readme, was not aware of that.

[2015-12-04 21:15] vkarpov15 commented on #130
https://github.com/mongodb-labs/mongo-rust-driver-prototype/commit/01fe6c6ad5865022427720197750591d067e07d8

[2015-12-04 21:15] #130 closed

[2016-01-10 18:40] cmr opened #132 "Relicense under dual MIT/Apache-2.0"
This issue was automatically generated. Feel free to close without ceremony if
you do not agree with re-licensing or if it is not possible for other reasons.
Respond to @cmr with any questions or concerns, or pop over to
`#rust-offtopic` on IRC to discuss.

You're receiving this because someone (perhaps the project maintainer)
published a crates.io package with the license as "MIT" xor "Apache-2.0

[2016-01-10 22:21] vkarpov15 commented on #132
Every MongoDB driver that I know of is Apache 2 licensed. Is there a case where someone is blocked from using this driver because of licensing? I'm hesitant to make this change unless somebody really needs it.

[2016-01-10 22:23] cmr commented on #132
This wouldn't make it unavailable under the Apache-2.0. Adding the MIT license as an option makes it possible to use this crate in GPLv2-licensed software.

[2016-01-11 19:54] vkarpov15 commented on #132
I'll leave this open for +1's. I'd probably have to ask around internally about this because I'm not certain of MongoDB's policies for licenses on drivers, so merging this wouldn't be quite as simple as hitting 'merge'.

[2016-01-11 23:06] saghm commented on #132
Assuming Mongo and the others are all right with this, I have no objections.

[2016-01-11 23:07] cmr commented on #132
@vkarpov15 sure thing!

[2016-01-15 06:51] jsec opened #133 "New release?"
The systems I'm working on have been updated to 3.2, so I need to update my projects as well.

I noticed a PR was merged last month for 3.2 support. Is there a chance we can get an update pushed out to crates.io?

Thanks for all your work!!

[2016-01-19 17:28] vkarpov15 commented on #133
Done, thanks :beers:

[2016-01-19 17:28] #133 closed

[2016-01-23 02:55] ayosec commented on #122
@thijsc Your crate works pretty well. Thanks you!

I'm closing the issue. People who need to connect to Mongo 2 can use [mongo_driver](https://crates.io/crates/mongo_driver/).

[2016-01-23 02:55] #122 closed

[2016-01-28 17:25] paul opened #134 "How to convert mongo bson objectId to a string"
Apologies if this is the wrong place to ask, as its not really an issue with a code itself, but rather a failure of me understanding the documentation. I'm working on a tool to sync a collection of mongo documents to a postgres database. Here is the code in its entirety: http://is.gd/QYzkBD

This works, except the existing document ids get stored in the postgres text column as the string `ObjectId

[2016-01-29 02:02] saghm commented on #134
`to_hex()` is a method of the trait `ToHex` in the `rustc_serialize` crate. You'll need to import that trait if you want to be able to use the methods of it.

https://doc.rust-lang.org/rustc-serialize/rustc_serialize/hex/trait.ToHex.html

[2016-01-29 15:34] vkarpov15 commented on #134
Thanks @saghm

[2016-01-29 15:34] #134 closed

[2016-02-05 19:35] waqqas-abdulkareem opened #135 "Result::unwrap() called on Err when no server is available"
Hi guys,

I'm writing a REST api using the Nickel framework and your (Excellent!) Mongo driver library.
The REST api will be consumed by a mobile application and, in order to provide a stable backend, I'm making sure that all errors return a meaningful message.

To that end, I'm handling the scenario where a connection to mongodb is unavailable in the GET /users request (line 44-50):

[code]

In o

[2016-02-05 20:06] saghm commented on #135
From running this code on my own machine, it appears that the unwrapping actually occurs in your own code on line 56, namely `let mut cursor = collection.find(None, None).unwrap();` You can verify this by using `gdb` to run the actual binary file generated in the `target` subdirectory and setting a breakpoint at `rust_panic`.

One thing that's a bit subtle about `Client::connect`  is that the erro

[2016-02-05 20:25] saghm commented on #124
This should probably be all right to close now, given that there hasn't been any response for a few months.

[2016-02-05 20:26] waqqas-abdulkareem commented on #135
Thank you so much for such an informative response.
I had an uneasy feeling about creating multiple clients; I was mislead by a tutorial. Thanks for setting me straight
And I hadn't played with the debugger before posting this ticket. I see that it is indeed a fault of my own!

[2016-02-05 20:26] #135 closed

[2016-02-09 15:19] #124 closed

[2016-02-09 15:19] vkarpov15 commented on #124
Yep good call

[2016-02-09 15:20] vkarpov15 commented on #135
Thanks @saghm

[2016-02-13 22:38] aochagavia opened #136 "Driver hangs when calling `collection_names`"
The following code hangs on my machine (Windows 10 running MongoDB 3.0.9):

[code]

Am I using the library incorrectly or is it just a bug?

[2016-02-13 22:58] aochagavia commented on #136
Nevermind... It seems like the server had crashed. Thanks for the library!

[2016-02-13 22:58] #136 closed

[2016-02-22 07:13] thetyrelcorporation opened #137 "Client::connect does not error as I would expect"
Hello, first of all thank you for your work on a pure rust mongodb driver.

While I was experimenting I noticed that the client connect Err match does not execute when a server is down. The program didn't panic until the client was used later and then responded with: thread '<main>' panicked at 'Failed to insert document becuase: No servers available for the provided ReadPreference.

This should h

[2016-02-22 18:11] saghm commented on #137
This is a good point; I hadn't realized it until debugging @135, and after that I figured that it would come up at some point. From an API standpoint, it is kind of strange to have that error not occur until the first query/insertion is sent to the database.

Probably the simplest way to fix it would be to do some trivial query in the constructor for `Client` to find a possible bad connection and

[2016-02-22 18:35] kyeah commented on #137
This is an interesting behavior with regards to MongoDB's drivers, but one that is outlined in the current specifications, found [here](https://github.com/mongodb/specifications/blob/master/source/server-discovery-and-monitoring/server-discovery-and-monitoring-summary.rst#client-construction).

[2016-02-22 18:40] saghm commented on #137
Ah, okay, I was not aware this was intentional. Thanks @kyeah!

[2016-02-22 19:02] thetyrelcorporation commented on #137
Learn something new everyday. It is what it is. Thanks for looking into it.

[2016-02-22 19:02] #137 closed

[2016-03-17 17:11] freiguy1 opened #139 "Example of using the connection pool"
This isn't an issue per se, more of a request.  I'm working on an api using mongo and this library and as of now, I've a connection instantiated when the server starts. Every time a request comes in (as of now all requests communicate w/ mongo), the connection is cloned.  Is this the correct way to do this?  Should I be using a `mongodb::pool::ConnectionPool` instead?  If so, I'm not sure how to q

[2016-03-17 20:13] freiguy1 opened #140 "bson library has released v0.2.0"
I see the [bson](https://github.com/zonyitoo/bson-rs) lib has released v0.2.0 and I can't use the latest versions of it or Serde without this mongo lib upgrading to the newest bson, I believe. Mongo is currently using bson 0.1.4.

[2016-03-17 20:16] saghm commented on #140
@kyeah, you mentioned you would take care of this over [here](https://github.com/zonyitoo/bson-rs/pull/34). Need any help with that?

[2016-03-18 00:25] kyeah commented on #140
That would be great, @saghm! I'm traveling right now, so it'll be faster if you could take it on.

[2016-03-19 01:48] saghm commented on #140
Sounds good!

[2016-03-21 19:12] freiguy1 opened #141 "~40ms find_one function on small collection"
I'm working on a web api and having been trying to diagnose slow performance issues. Some of my endpoints take 400-500ms without doing much of anything.  I put some timers in my code, and found that mongodb calls were the slow ones.  I then decided to create a very slimmed down version of what I was doing to showcase the slowness in an issue.  I'm new to mongodb so I may be doing something which i

[2016-03-21 23:57] saghm commented on #141
This definitely isn't because of Mongo itself; if you try out running the query on the Mongo command-line shell (`db.documents.find({ _id: 2 }).explain('executionStats')`), you'll see that it consistently runs more more quickly (running it locally on my machine with the same contents in the database, I haven't seen any execution time besides 0).

I'm sure that the driver could be optimized to redu

[2016-03-22 13:37] freiguy1 commented on #141
Thanks for the quick and honest response!

[2016-03-22 13:37] #141 closed

[2016-03-23 04:10] kyeah commented on #141
For anyone that needs better performance in a current rust app, take a look at the [Rust C-Wrapper](https://github.com/thijsc/mongo-rust-driver). It won't have the safety guarantees provided by a pure Rust implementation and is less feature-complete, but the performance will depend directly on the mature C driver.

[2016-03-26 01:40] kyeah commented on #139
Hey, I didn't see this issue until now! The connection pool is maintained internally by a MongoDB Client, so you shouldn't ever have to deal with the pool directly. MongoDB apps are designed to have one Client across the entire application, so developers can clone Client (which is actually an alias of an Arc type), allowing them to use multiple references of the same connection pool.

This is disc

[2016-03-26 15:55] freiguy1 commented on #139
Very good, thanks!

[2016-03-26 15:55] #139 closed

[2016-03-30 09:59] ollivera commented on #140
Any update on this? I also would like to use the latest version of bson.

[2016-03-30 17:28] saghm commented on #140
Sorry about this, I got sidetracked by other things. I'll get working on this right away!

[2016-03-31 13:33] vkarpov15 commented on #140
Gonna be quite tricky because I'd exactly zero people who have contributed to the current iteration of the driver currently have write access to the repo. Perhaps @acmorrow can help?

[2016-03-31 23:51] acmorrow commented on #140
@vkarpov15 Discussion is ongoing, appreciate your patience.

[2016-04-01 21:07] dariusc93 commented on #140
There is no breaking change for using 0.2 in the mongo driver. I am currently using a fork version of mongo for rust with it using bson 0.2 and everything runs fine

[2016-04-01 21:12] freiguy1 commented on #140
@dariusc93 I did the same thing. It compile right away when i changed the cargo.toml.

[2016-04-02 22:33] vkarpov15 commented on #140
@dariusc93 @freiguy1 probably worthwhile to fork for now and merge back later - it'll take a while for me to get write access to this repo again and I'd rather not push to crates from a fork unless it's absolutely necessary.

[2016-04-04 19:50] saghm opened #142 "Changing name of default branch?"
Right now, the default branch is called `1.0`. This made sense when we were first writing the driver, since we were writing a new driver for Rust 1.0 as opposed to the earlier version for pre-stable Rust. However, Rust stable is now at 1.7 (and will continue updating with new minor versions every six weeks), so I'm thinking it might be more idiomatic to name it something that would be more version

[2016-04-22 20:32] kyeah commented on #140
@vkarpov15 I believe we still need to bump the version and push the changes out to crates.io.

[2016-04-27 17:55] vkarpov15 commented on #140
@saghm @kyeah I'm getting the following issue when I run `cargo package` with rust 1.8. Any ideas?

[code]

Also, do y'all have accounts on crates.io? Would make more sense for you guys to have access to do releases - I don't want to sit around and be a gatekeeper.

[2016-04-27 18:18] saghm commented on #140
Ugh, looks like one of the dependencies got broken with the latest Rust update. I'll take a look to see if it's easily fixable.

I do have a crates.io account; it's linked to my github (saghmrossi@gmail.com). I agree, it probably maks sense to add us on as maintainers of the crate.

[2016-04-27 18:40] saghm opened #144 "GridFS `put_get` test failing on MongoDB 3.2"
Travis seems to have reported an issue with the test [`v3_2::client::gridfs::put_get`](https://travis-ci.org/saghm/mongo-rust-driver-prototype/builds/126183253). I haven't been able to replicate it (i.e. all of the 3.2 tests seem to be working locally for me), but that may be because I have version 3.2.3 installed rather than 3.2.4 (Archlinux hasn't updated to the latest release, it seems; I'll do

[2016-04-27 18:41] saghm commented on #140
I'm not getting the issue you seem to be having; maybe you have an old cached version of one of the dependencies that's been updated? I'd try deleting `Cargo.lock` and then trying to rebuild from scratch to see if that fixes it.

However, despite all the tests passing locally for me, Travis seems to having an issue with one of the GridFS tests (https://github.com/mongodb-labs/mongo-rust-driver-pro

[2016-04-27 19:16] vkarpov15 commented on #144
I'd try re-running it on travis, travis is wildly flakey and tests will often fail for no reason.

[2016-04-27 19:18] vkarpov15 commented on #140
@saghm added you as an owner on crates.io, see https://crates.io/crates/mongodb

[2016-04-27 19:27] saghm commented on #144
Yeah, that seemed to fix it. Not sure why I didn't try this first...

[2016-04-27 19:27] #144 closed

[2016-04-27 19:33] saghm commented on #140
Oh, strange, I'm getting the error you had now. It seems to only happen when I run `cargo package` (not when I just do `cargo build`.

[2016-04-27 19:45] kyeah commented on #140
Also on crates via github -- @kyeah (kevinyeah@utexas.edu).

[2016-04-27 19:48] saghm commented on #140
It seems to be an issue in the `textnonce` crate that has been fixed but not just pushed to crates yet. (It works fine when I specify using the latest version from Github rather than from crates.io, but crates doesn't allow publishing packages that use dependencies from both itself and github, for good reason).

I've opened an issue with it, so hopefully it will be fixed soon: https://github.com/m

[2016-04-28 02:21] saghm commented on #140
The issue with `textnonce` was fixed; version 0.1.4 has been published!

[2016-04-28 02:21] #140 closed

[2016-04-28 06:28] saghm opened #145 "New Github Pages site"
Because of the transition of the repo from the interns group to the MongoDB Labs group, it looks like our Github Pages website with the documentation isn't up anymore. We should get the new one up and running (and then change the link to the new URL).

[2016-04-28 06:31] saghm commented on #145
Never mind, the site is up, we just need to change the link

[2016-04-28 06:31] #145 closed

[2016-04-29 01:10] zerosign opened #146 "MapReduce support ?"
Is this crate does support mongodb map reduce support or only support Aggregation ? Since in https://github.com/mongodb-labs/mongo-rust-driver-prototype/blob/d36d71a2e82f65cf3e2344e4ffa71ce85d4ec0ac/src/command_type.rs, I don't see command type for map reduce in mongodb.

CMIIW

[2016-04-29 03:29] saghm commented on #146
You're correct, we did not implement map reduce in the driver. From looking at the [documentation](https://docs.mongodb.org/manual/reference/command/mapReduce/), it seems like it would only require adding the new command type and a corresponding method to the `Collection` type. I'm going to have a lot of free time relatively soon, so if this would be useful for you, I might be able to take a stab

[2016-04-29 04:00] zerosign commented on #146
I'll try my best this weekend looking the docs and try implement it :+1:

[2016-05-06 04:37] saghm commented on #146
I just opened a PR with an implementation of the map-reduce functionality. Feel free to give some feedback about the API defined in it (i.e. the methods defined in `coll/mod.rs`), since you'll probably be the first one to use it once it gets merged!

[2016-05-06 12:06] zerosign commented on #146
Sorry, lately, I need to deal with something elses, I'll try to look the PR, thank you.

[2016-05-13 12:54] Gyscos opened #148 "Forward `rust-nightly` feature to textnonce dependency"
textnonce has a `rust-nightly` feature to use `serde_macros` instead of `serde_codegen`. Without it, compilation fails if `serde_macros` is used otherwise.

A solution would be to copy this `rust-nightly` feature into the `mongodb` crate, and forward it appropriately.

[2016-05-17 05:16] Gyscos commented on #148
Merged with #149.

[2016-05-17 05:16] #148 closed

[2016-05-21 00:35] russoue opened #150 "Updating a date field"
How do I do the equivalent of the following?

    { "_id" : 1, "status" : "a", "lastModified" : ISODate("2016-05-13T04:54:57.384Z") }

    WriteResult({ "nMatched" : 1, "nUpserted" : 0, "nModified" : 1 })

    { "_id" : 1, "status" : "a", "lastModified" : ISODate("2016-05-21T00:29:09.603Z") }

I tried it this way but failed:

        let update = doc!{ "$set" => { "foo" => fooval,

[2016-05-21 00:41] saghm commented on #150
I can't be sure about what went wrong without knowing what the exact error message is (and what the values of `fooval` and `filter` are), but you should be able to just put pass in the exact same document you used in the shell (i.e. `{ $currentDate: { lastModified: true }}` for the second argument.

On a tangential note, `upsert: false` and `write_concern: none` are the default options for update

[2016-05-22 01:33] russoue commented on #150
I tried to write a minimal program to demonstrate this:

    #[macro_use(bson, doc)]
    extern crate bson;
    extern crate chrono;
    extern crate mongodb;

    use bson::Bson;
    use chrono::*;
    use mongodb::{Client, ThreadedClient};
    use mongodb::db::ThreadedDatabase;

    fn main() {
        let client_in_res = Client::connect("localhost", 27017);
        if client_in_res.is_err() {

[2016-05-22 03:02] saghm commented on #150
Again, I think you'd have to change the `update` argument to `{ $currentDate: { lastModified: true }}` rather than `{ $set: { $currentDate: { lastModified: true }}}`; you don't need to change it to use `$set` in the same way that you didn't use `$set` in the shell command you wrote in your initial comment.

For reference, I tested doing it this way with the following program (after inserting a doc

[2016-05-23 03:11] russoue commented on #150
I tried the following but this time the update is not only failing but also `update_one` is returning `false`, which is better I think:

[code]

Then I tried to update the date only:

[code]

And it worked! Then after having a closer look I found what the problem was with my original code and I fixed it:

[code]

The `$currentDate` element should be a top level one, it should not be a child of `$s

[2016-05-23 03:11] #150 closed

[2016-05-23 19:18] danslapman opened #151 "Failed to retrieve hostname for OID generation"
Hi!
I just built test example from readme.md, ran it & got
`Failed to retrieve hostname for OID generation`
on line `coll.insert_one(doc.clone(), None)`
What can be wrong?
I'm using Windows 10 64-bin, rust version is stable-x86_64-pc-windows-gnu

[2016-05-23 19:34] danslapman commented on #151
Seems to be a bson-rs problem, sorry,

[2016-05-23 19:34] #151 closed

[2016-07-21 19:47] dariusc93 opened #152 "Issues between serde and mongo"
Have anyone had issues between serde and mongo? Since recently I ran a `cargo update` there had been an issue where is serde, serde_json, and serde_macro exist along side mongo-rust-driver-prototype would give an error related to quasi but with it commented out in Cargo.toml it does not error out at all. I cannot pinpoint the issue but it seems to be related to https://github.com/serde-rs/quasi/is

[2016-07-22 01:48] saghm commented on #152
From trying it out, it seems that updating `serde` and `serde_macros` to the latest version (`0.8.0-rc2`) seems to fix the compilation errors I got. I'm not sure if using a release candidate is an option for your situtation, but either way, the final `0.8.0` release will probably be available shortly.

[2016-08-02 02:10] dariusc93 commented on #152
I do not know if its fixed now but I did switch back to rustc_serialize. It was an annoying move though but hopefully serde will become more stable.

[2016-08-03 02:22] saghm commented on #152
I just tried it out again now that serde `0.8.0` has been released, and after running `cargo update`, I'm now getting an issue with `bson` still using serde `0.7`. I looked into seeing what it would take to upgrade the dependency, but unfortunately it seems decently involved due to the API changes made in the new version. I'm not familiar with the serde code in bson, but I'll open up an issue ther

[2016-08-03 02:28] dtolnay commented on #152
I can take care of bson today.

[2016-08-03 02:28] saghm commented on #152
Awesome! Thanks a bunch

[2016-08-03 05:44] dtolnay commented on #152
PR https://github.com/zonyitoo/bson-rs/pull/39

[2016-08-04 22:51] saghm opened #153 "SDAM test failing after update to submodule"
After updating the `specifications` submodule, I noticed that one of the SDAM tests is failing. Specifically, the last phase of `rs/new_primary_new_setversion.json` is expecting a different set name for the server. From what I can tell, the set name given in the outcome for the server with hostname "a:27017" is not the same as it is in the response.

@kyeah, any idea if the error is due to a mista

[2016-08-05 03:33] kyeah commented on #153
Looks like the SDAM logic has changed slightly to include setVersion fields. Previously we relied only on electionId to detect stale primary replies. On [this line](https://github.com/mongodb-labs/mongo-rust-driver-prototype/blob/1.0/src/topology/mod.rs#L565), we check whether the electionId is _explicitly greater_ than the current max electionId, and accept the new primary if so.

In the last pha

[2016-08-06 00:56] saghm commented on #153
Thanks for the explanation! I'll look into fixing the issue now that I understand what's going on.

There did seem to be other new tests in the spec repo, but none of them failed (although I should check to see if there were any new categories of tests, which would not have been picked up). The only other test failing for me right now is a GridFS one that I haven't had a chance to look into yet, b

[2016-08-10 20:26] saghm commented on #153
Just opened a PR to fix this; unfortunately a later test in the suite is also failing but wasn't showing before due to the entire suite being run as a single test case (I almost wish we could dynamically create test cases for each JSON file instead of having to use the test attribute on the entire suite...). I made sure that the PR isn't the cause of the later test failing by temporarily removing

[2016-08-10 22:59] saghm commented on #153
My "fix" in #154 was not spec compliant, so I reimplemented that in #157. The SDAM tests should all work after #155, #156, and #157 are merged.

[2016-08-14 01:41] #153 closed

[2016-08-31 14:33] kyeah commented on #152
bson v0.3 is out with the fix, should be able to update. sorry for the wait, y'all!

[2016-08-31 15:29] saghm commented on #152
Assuming the Travis build passes, I'll merge #160 and push out a new version to crates.io

[2016-08-31 15:43] saghm commented on #152
Just pushed 0.1.6. @dariusc93, if you use the latest version along with bson 0.3, and serde 0.8, it should work fine now.

[2016-08-31 15:43] #152 closed

[2016-09-14 17:51] lilianmoraru opened #162 "A number of tests fail on a freshly installed mongodb 3.2"
I just installed MongoDB 3.2.9(Ubuntu 16.04 PPA) and cloned the repository.

I ran `cargo test` and it reported 11 failed tests, so I decided to re-run them with `RUST_BACKTRACE=1` to report them, and now I've got 13 failed tests.

I re-ran the tests with and without `RUST_BACKTRACE=1` a few times and seems that now it gives 13 fails every time. My guess would be that after the first run, it modif

[2016-09-14 17:56] saghm commented on #162
There's no reason to run the `v3_0` tests on 3.2.9, as they pertain to 3.0.x versions of MongoDB. You can run the 3.2.x tests with `cargo test v3_2`.

Did you run the tests in parallel? The tests are designed to be run with a single thread, so if you didn't already, try running the tests with `RUST_TEST_THREADS=1` to see if that fixes the issues.

[2016-09-14 18:11] lilianmoraru commented on #162
I ran only `v3_2` and 7 tests are failing without `RUST_TEST_THREADS=1` and 2 with `RUST_TEST_THREADS=1`(the tests ran considerably slower of course).

Here is the [full log](https://gist.github.com/lilianmoraru/81211ed8f3f89f210e2f2816a58d4ab2) for `v3_2`.

[2016-09-14 18:15] saghm commented on #162
The five tests failing without the single-threaded testing are likely due to concurrent updates to the database (e.g. in `invalid_password`, another test has already created the same user). I'll take a look at the other two once I get a chance.

Thanks for letting us know!

[2016-09-17 18:37] saghm commented on #162
Ah, okay, I think I figured out what's going on. The tests actually use two different databases, one running on the default port of 27017 and one running on 27018. The two tests that failed for you are the ones that use the second database. If you run a second mongod on this port (with a different dbpath), those two tests should pass.

I'm realizing now just how non-obvious it is to run our tests.

[2016-09-17 18:37] #162 closed

[2016-09-17 18:39] saghm opened #163 "Add documentation for how to run tests"
#162 exposed a hole in our documentation when it comes to how to properly run our test suite. We should add something along the lines of a TESTING.md (and link to it in the README) detailing how to  properly run them to avoid more confusion.

[2016-09-17 18:41] saghm opened #164 "Look into making tests parallelizable"
Right now, the test suites needs to be run with RUST_TEST_THREADS=1. It's probably possible to make them able to run in parallel by doing things like using unique namespaces for each test case, which would be much more friendly.

[2016-10-03 21:38] Linicks opened #165 "Bring This Driver To Production"
All,
  There are a number of new Rust users like me that would love to use MongoDB and Rust.  Rust has been stable for over a year, and there has been allot of polish since then.  It's unfortunate that Postgresql, and MySql are the few production options for Rust at the moment.

Thanks!
--Nick

[2016-10-04 03:13] saghm commented on #165
Thanks, for the interest! Sorry we haven't been able to work much on it recently; this was originally an intern project that Kevin and myself worked on last summer, so we unfortunately haven't been able to put as much time into it as we were when we were working on it full time. There are a few outstanding issues that I totally could be working on in my free time though, so I'll try to put more ef

[2016-10-04 18:21] antigol opened #166 "connect always return Ok"

[2016-10-04 19:43] Linicks commented on #165
@saghm,  I wish there were more cooperate resource put into languages like Rust/Elixir/Haskell/ETC that give us above average safety so that we can spend less time on bugs that could have been avoided, but that's another topic :)
  Unfortunately, I haven't spent enough time with the driver to have a solid feel of what's missing.  I've been holding off because of the Experimental Label.  I think th

[2016-10-04 23:24] saghm commented on #165
I think as far as advanced features go, most of it is already there; we've already implemented connection pooling, SDAM, GridFS, and SCRAM-SHA authentication, among other things. TLS is not yet implemented for the driver, although that's certainly something worth looking into.

Providing expanded documentation for how to use the driver is definitely a good idea. Even starting with something as sim

[2016-10-05 18:28] Linicks opened #167 "Add TLS Connections"
All,
  As discussed in #165,  the ability to use TLS connections are necessary to use services like MongoDB ATLAS.  I'm not sure if the Tokio-TLS library (https://github.com/tokio-rs/tokio-tls), would help ease the implementation of this, but may be something worth exploring.  Tokio and Tokio-TLS were discussed at the 2016 Rust Conference in this presentation (https://www.youtube.com/watch?v=bcrzf

[2016-10-05 20:20] saghm commented on #167
Thanks for the suggestion and the links! I'll try to look into this sometime this week

[2016-10-10 12:42] ollivera commented on #165
@saghm I think @Linicks has a very good point. As you said above many important and advanced features are already implemented. We should promote this project, it would encourage people to use it.
This Prototype flag shouldn't last forever, official mongo driver or not.

[2016-11-06 16:27] zpallin opened #170 "Fix your travis build for 1.0"
For 1.0, the travis build specifically states that this is not an active repository. Not to mention, I pulled and built 1.0 myself and it does in fact build.

Please fix as to not confuse people. :)

[2016-11-07 01:22] saghm commented on #170
Thanks for letting us know! I'll look into why this happened, as it certainly was working in the past

[2016-11-07 15:25] zpallin commented on #170
Ah you know what, I think that it says it's not active because you don't yet have a .travis.yml on master. The 1.0 branch looks good. Neato.

[2016-11-07 15:25] #170 closed

[2016-11-13 00:38] saghm commented on #142
@kyeah I just wanted to bump this issue again in light of #170. "1.0" doesn't actually refer to anything useful anymore; it originally meant that we were developing for Rust 1.0 rather than 0.x like the previous implementation of the driver was, but given that Rust is now on 1.13 (and has proven to be pretty stable in terms of releases, as we've never had to make any fixes due to language changes)

[2016-11-19 19:58] kyeah commented on #163
Makin' notes for later. This involves documentation on:

1. Setting up mongodb on 27017 and 27018
2. Initializing the json specs submodule (`git submodule update --init`)
3. Warning users that test databases are _not_ cleaned up

[2016-11-19 20:49] kyeah commented on #142
I think we need an admin to turn on the travis switch for 1.0, but yeah, moving to `master` (and moving `master` to `legacy` or something) would be fantastic. I'm going to look into doing just that.

[2016-11-19 21:06] kyeah commented on #142
@saghm don't know how you feel about doing a simple name swap and -f push -- generally this is an awful, sketchy idea, but since everyone has been working with `1.0` for over a year and nobody should be dealing with the Rust 0.7 driver on `master`, I think this is the best option here for future peace of mind.

[code]

[2016-11-20 00:51] saghm commented on #142
I can take care of talking to the powers that be to make the switch once we make the change.

As for the process of the actual branch changes in git, do you think it's better to completely delete 1.0 (i.e. renaming it to master) or to just checkout master from 1.0 and switch to developing there? The former would be useful in that anyone remotely tracking 1.0 would notice the change in default bran

[2016-11-20 02:46] saghm commented on #164
Fixed in #173

[2016-11-20 02:46] #164 closed

[2016-11-20 03:00] kyeah commented on #142
We should go with renaming 1.0 (deleting it) instead of checking out `master` from it. Anyone working on top of 1.0 should have their own branch/fork, and will be able to pull/merge from `master` since it'll have the same commit history. We'll be continuing work on `master`, so they'll have to do this anyways once their fork falls behind in commits -- better to make it clear that 1.0 is obsolete,

[2016-11-20 03:25] saghm commented on #142
Cool, sounds good. I assume that you don't have any objections to me taking care of this now?

[2016-11-20 04:47] kyeah commented on #142
Nope, go for it.

[2016-11-20 04:53] saghm commented on #142
I'm going to hold off on deleting 1.0 for now just in case Github does something weird if you delete the default branch

[2016-11-28 22:38] saghm commented on #142
The default branch has been changed to master and 1.0 has been deleted

[2016-11-28 22:38] #142 closed

[2016-12-06 21:32] BlackYoup opened #174 "Connect to a rights restricted mongos server topology"
Hi,

I'm having a few troubles with connecting to a mongodb server. I'm using a PaaS provider. The setup is the following: the DB is on a mongo "cluster" and in front of it, there is a mongos node. I don't have every rights on the mongos server. During my requests, I get rejected during the "isMaster" check because my user doesn't have access to the `local.is_master` function (I don't even know if

[2016-12-10 04:01] saghm commented on #174
I'm not positive, but it looks like you might need to authenticate yourself to the database? If you have a username and password provided, you can [authenticate to the database](https://docs.rs/mongodb/0.1.8/mongodb/db/trait.ThreadedDatabase.html#tymethod.auth), which might solve the issue you're having.

[2016-12-17 05:57] saghm commented on #167
Hey! Sorry I've taken so long to work on this. I have a initial implementation that seems to be working, and I'd love to get some feedback on whether it works for you or not before I begin the process of merging it into the repo. It's currently hosted on a [branch of my fork of this driver](https://github.com/saghm/mongo-rust-driver-prototype/tree/ssl), so if you're up for helping me test it, you

[2016-12-19 14:17] BlackYoup commented on #174
Hi, thanks for the answer ! I tried before this weekend and it didn't work (got same output / error). Maybe I'm doing something wrong. I'll try to give you a code snippet but I'm lacking time these days :-/

[2016-12-19 15:06] saghm commented on #174
I just re-read your original comment and realized that I'm not sure if you're connecting to the mongos or one of the mongod nodes. If you're connecting to a sharded cluster, you should be connecting to the URI of the mongos.

Assuming you're doing that, I'd probably need to see a code snippet like you suggested to try to help you debug this.

[2016-12-21 23:32] BlackYoup commented on #174
Okay, here is a snippet: https://gist.github.com/BlackYoup/3cac9d6ef8f3cb6be09e6241956f7904
It logs commands in `/tmp/mongo-commands`

If I understood right, it's a sharded cluster with a mongos. So yes, technically I'm connecting to the mongos.

I use clever cloud ( https://www.clever-cloud.com/ ) to host this database, if you need credentials, tell me and I'll forward some to you.

Thanks for yo

[2016-12-22 00:47] saghm commented on #174
Thanks for the snippet! It looks like you're doing a bit more work than you need for the driver, so I condensed your snippet down a bit. Any chance you could try [this one](https://gist.github.com/saghm/c90d9178975a77caa8b6eeb0f7955a29) out with your connection and authentication info and give me the output (both from the command line and the logfile)?

[2016-12-22 08:57] BlackYoup commented on #174
Seems like it worked ! So, was it my driver use that was wrong or the `ConnectionString` should have worked with the user / password ?

[2016-12-22 16:51] saghm commented on #174
Awesome! I'm glad it's working.

My best guess of why it wasn't working is an incorrect specification of the topology; in general, it's better to just give the client the connection info for one of the hosts and let it automatically discover the topology, since otherwise you could specify the topology incorrectly. In this case, it looks like that might have happened, as you specified the topology

[2016-12-22 16:51] #174 closed

[2017-01-14 19:42] thijsc commented on #165
You could also take a look at https://github.com/thijsc/mongo-rust-driver. It wraps the official mongo c driver and is therefore mostly feature complete and stable.

[2017-01-17 01:06] rcastill opened #176 "Excessive delay in cursor::Cursor::count"
Hi!,

I do not know if there is an implementation issue with `count()` from iterator, but doing some tests it took too long to perform the operation to certain query, whilst it is almost instantaneous in python or Javascript.

Has this been noticed yet?

[2017-01-17 01:35] saghm commented on #176
Any chance you could post a small example of code (and possibly database contents, if you can replicate it with a small example of non-confidential data)? There is no `Cursor::count` method, so I want to make sure I understand the issue that you're having.

[2017-01-17 01:49] rcastill commented on #176
This is the relevant code:

[code]

I run it like this:

[code]

And finally, these are my dependencies:

[code]

Thanks in advance!

[2017-01-17 03:02] saghm commented on #176
This appears to be calling [`Iterator::count`](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.count), which `Cursor` gets from the `Iterator` trait in the standard library. Judging from the fact that you're comparing the performance to other drivers, I'm guessing you're looking for [`Collection::count`](https://docs.rs/mongodb/0.1.8/mongodb/coll/struct.Collection.html#method.count).

[2017-01-17 03:05] kyeah commented on #176
Hey @rcastill! `count` is an instance variable, so the call itself should be instant. Can you time the `find` call itself?

The work on this driver hasn't been too active and the latency issues are a known problem; this is likely due to extensive locking that occurs to periodically check on and update the server topology. Additionally, the first network request may take longer to complete since yo

[2017-01-17 03:14] saghm commented on #176
I don't think this is the case; count is a private variable. I'm still pretty sure this is calling `Iterator::count`.

[2017-01-17 03:32] kyeah commented on #176
Ah sorry for the hot take!

In this case it depends entirely on your collection size, as our cursor is paginated and will require a series of calls to consume the iterator. We'd need to customize this method to make a definitive number of calls.

[2017-01-17 04:03] saghm commented on #176
I think the confusion between our cursor API and that of other drivers is due to other drivers mimicking the behavior of the shell, where `foo.find(...).count()` is equivalent to `foo.count()`. I'm guessing behind the scenes this is done by lazily loading the first item returned by the cursor, and in the case that a method like `count()` is called before `next()` is called, immediately fetching al

[2017-01-17 11:31] rcastill commented on #176
Yes, I'm referring to `Iterator::count`, I actually thought you've manually implemented it for the trait.

I tried what you recommended and it worked flawlessly. Thanks for the support, maybe it would be a good idea to override `Iterator::count` after all.

[2017-01-17 17:13] saghm commented on #176
Awesome!

For the reasons I mentioned above, I'd be a little hesitant to do so. TLDR: There's no way to override `Iterator::count` to return `Result<usize>` rather than `usize`, so I think it's better to discourage using `Iterator::count` as a replacement for `Collection::count`.

[2017-01-17 18:18] rcastill commented on #176
Got it. Totally agree.

[2017-01-17 18:22] saghm commented on #176
I'm going to close this issue now. Thanks for the feedback on the driver, and feel free to open new issues if you have any other questions or suggestions!

[2017-01-17 18:22] #176 closed

[2017-01-18 18:09] kpcyrd opened #177 "Documentation is 404"
Both links for documentation return a 404 ([github], [cargo.io])

[github]: http://mongodbinc-interns.github.io/mongo-rust-driver-prototype/
[cargo.io]: https://mongodb-labs.github.io/mongo-rust-driver-prototype/mongodb

Please fix it :)

[2017-01-19 05:45] saghm commented on #177
Sorry about that! I'll get it fixed tomorrow. (I don't have ownership of the repository, so I'll need to talk to the people that do).

For now, you can either click on the "Docs" badge at the top of the README or go directly to [docs.rs/mongodb]. As of a couple months ago, all crates published to crates.io automatically get their documentation published to docs.rs, which is just another reason why

[2017-01-19 11:47] kpcyrd opened #178 "upsert:true doesn't insert"
I'm really sure I'm doing something very wrong here, but I can't get `upsert` to work.

I don't get any error messages and update_one returns `Ok`, yet my document doesn't exist in my collection afterwards. Please point me to the right direction. :)

Cargo.toml
[code]

main.rs
[code]

output
[code]

[2017-01-20 00:46] saghm commented on #178
I'm not able to reproduce this; when I run it locally, the upsert occurs. Can you double check that you're connecting to the right mongod and that you're checking the right database and collection for the new document?

[2017-01-20 17:18] kpcyrd commented on #178
I found the issue, I'm running mongodb from debian stable, which is `v2.4.10`, while the readme says:

Querying information was working fine, while update seems to fail silently.

So, my fault, sorry for the noise :)

[2017-01-20 17:18] #178 closed

[2017-01-20 21:37] saghm commented on #178
No worries! If you're interested in trying out the latest version, MongoDB hosts a third-party repo you can use: https://docs.mongodb.com/manual/tutorial/install-mongodb-on-debian/

[2017-01-23 00:54] saghm opened #179 "3.4 compatibility"
A few new features were added to MongoDB in 3.4 which we haven't implemented support for yet. The release notes of 3.4 are [here](https://docs.mongodb.com/manual/release-notes/3.4/), but not everything there requires a change in drivers. Off the top of my head, I know that views, the decimal type, and likely collations will require additions/changes to the code.

Additionally, three tests currentl

[2017-01-23 01:13] saghm opened #180 "Test fails with updated specifications tests"
We haven't updated the specifications submodule in a while, so I tried out updating it to see if anything changed. After updating it, one test (`server_selection::replicasetnoprimary::server_selection_replica_set_no_primary_read`) fails with the error "server must have tags" on both 3.2 and 3.4 (I haven't tried 3.0).

We should fix this test and commit the updated submodule.

[2017-01-23 01:21] kyeah opened #182 "Missing repo description + bad link for homepage"
:wave:

We're still linking to the old docs page for our description homepage, and we're missing a description. It might be time for someone with admin repo access to update these :)

[2017-01-23 02:09] saghm commented on #182
#177?

[2017-01-23 02:24] kyeah commented on #182
Ah, thought that was referencing the link in lib.rs (which I've updated). Will add the missing description to that issue.

[2017-01-23 02:24] #182 closed

[2017-01-23 02:24] kyeah commented on #177
Ala #182, we should also add a description for the repo.

[2017-01-23 03:17] saghm commented on #177
I opened a ticket for this with (the Mongo office) IT last week. If you have a specific description in mind, I can update the ticket to request that as well.

If we do add a description, we should update the one in Cargo.toml to match it.

[2017-01-23 03:22] kyeah commented on #177
cool, thanks @saghm 🙏

[2017-01-24 00:38] saghm commented on #177
The link at the top of the repository has been changed.

[2017-01-24 00:38] #177 closed

[2017-01-29 20:40] #167 closed

[2017-01-29 20:44] saghm commented on #167
@Linicks not sure if you're still interested, but we just pushed version 0.2.0 with SSL support! Let me know if you have any questions about it.

[2017-02-04 23:10] kyeah opened #186 "Remove rustc_serialize dependency, Upgrade bson lib"
:wave: we should move over to using `serde_json` and `data-encoding` like the bson lib, then upgrade that dependency and shuttle out `rustc_serialize` since it's not really being maintained anymore. See https://github.com/zonyitoo/bson-rs/pull/54.

[2017-02-05 02:06] #163 closed

[2017-02-12 04:33] saghm commented on #179
Progress update: #185 fixed a number of the issues the driver had with 3.4.x and fixed all of the tests failing except for `client::db::create_and_get_users`. We'll still have to add views, collations, and the decimal type, the last of which will probably only require changes to `bson` (https://github.com/zonyitoo/bson-rs/issues/53).

[2017-02-22 04:32] kyeah opened #189 "Use mongo-orchestration for testing"
Setting up multiple databases is tedious, especially when adding new version support. As @saghm mentions, we can do a lot better here.

[2017-02-23 00:23] saghm commented on #179
Another update (because I forgot to reference this issue in the PR): #188 fixed the tests for 3.4, so that leaves only implementing the new features.

[2017-02-23 17:22] pyros2097 opened #190 "Can you upgrade the bson version to 0.4.1?"
I'm getting this error,
[code]

Or atleast re-export bson module?

[2017-02-23 17:31] pyros2097 commented on #165
Is the c based driver more performant? I guess it would be stable since it uses an official driver but the pure rust implementation makes it easy and also allows us to make changes for the future of rust when Futures or Promises finally come into rust and we can do asynchronous db calls which i guess the c driver wouldn't allow.

[2017-02-23 19:35] saghm commented on #190
@kyeah, you were going to handle this as part of #186, correct?

[2017-02-23 22:38] kyeah commented on #190
hey! I can upgrade the bson library without updating rustc_serialize stuff on the mongo end for now. Will do a release once tests pass.

[2017-02-23 23:35] kyeah commented on #190
released v0.2.2. thanks for initiating, @pyros2097 ! 🙇

[2017-02-23 23:35] #190 closed

[2017-02-24 03:27] kyeah commented on #165
From what I can recall via initial benchmarks, the C driver is more performant. The gap may have closed with improvements in the rust language and compiler, but my intuition is that the pure driver is hindered by the usage of Arc<Client>, the locking that occurs with (especially regarding topology monitoring), and areas where we clone objects unnecessarily. If anyone would like to do some rough be

[2017-02-24 03:54] kyeah opened #191 "Investigate r2d2 for connection poolilng"
We should investigate [r2d2](https://github.com/sfackler/r2d2) for connection pooling and see if that gives us any performance benefits, and if so, whether there are any downsides to switching.

[2017-02-24 13:57] zonyitoo commented on #186
@kyeah Please upgrade `bson` to `v0.4.2`. I found that your PR has been reverted by another PR... I have already fixed it and released with `v0.4.2`, please upgrade.

[2017-02-24 18:02] kyeah commented on #186
yeah! those changes to bson break the mongo build, so I'll work on this over the weekend.

[2017-02-24 21:50] saghm commented on #191
Without having had to chance to actually look into the library, the name of it alone already puts it at an advantage in my mind.

[2017-02-26 07:33] kyeah opened #193 "Add simple benchmarks to test suite"
We should run some baseline benchmarks so we can get a (very) rough feel of the driver's performance across changes.

[2017-02-26 08:13] kyeah opened #194 "Add default and Clippy lints to build process"
Let's settle on some must-have lints and pull them into the build process. [travis-cargo](https://github.com/huonw/travis-cargo) might be helpful for running clippy, since it relies on nightly.

see this discussion for context: https://github.com/mongodb-labs/mongo-rust-driver-prototype/pull/192#discussion_r103093236

[2017-02-27 03:59] #186 closed

[2017-03-01 18:05] pyros2097 opened #196 "Use the new tokio service library?"
Will it be possible tokio service as the underlying transport to implement asynchronous operations? I actually wanted to try to see if it was possible to do asynchronous web-applications in rustlang now.
https://github.com/housleyjk/ws-rs/issues/111
https://docs.rs/tokio-postgres/0.2.1/tokio_postgres/

[2017-03-01 20:10] kyeah commented on #196
hi! this isn't possible at the moment, but it's definitely on our radar, and we'd love to have asynchronous support for the driver.

At the moment, a single method call prepares, executes, and parses results. Looking at other languages, most mongodb drivers have two separate versions (sync and async) which share common code. It remains to be seen whether it's possible to generalize the current dri

[2017-03-11 19:51] kyeah opened #197 "Use derive_builder for Options structs"
A lil tracking issue to use `derive_builder` for our options structs. See [this comment](https://github.com/mongodb-labs/mongo-rust-driver-prototype/pull/183#issuecomment-275822133) in 183 for discussion.

[2017-03-25 05:57] kyeah opened #199 "Replace nalgebra"
shed some weight, as per [this discussion.](https://github.com/mongodb-labs/mongo-rust-driver-prototype/pull/198#discussion_r105677598)

[2017-04-15 00:54] saghm commented on #199
Fixed #201

[2017-04-15 00:54] #199 closed

[2017-04-20 19:12] #180 closed

[2017-04-24 08:52] ThetaSinner opened #203 "Serde and BSON release"
BSON version is now 0.7, which has changes for compatibility with Serde 1.0

I was moving my project onto Serde 1.0 which meant upgrading BSON to the latest version too, due to breaking changes in the Serde release. Unforunately this is not compatible with the version this crate uses.

Normally I would be happy just using an old release of Serde for now. But I've been able to take Serde updates up

[2017-04-24 08:58] Matrix-Zhang opened #204 "Auth failed"
[code]
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: OperationError("not authorized on my_db to execute command { insert: \"stuff\", documents: [ { x: 1, _id: ObjectId(\'58fdbd66613132df407d8766\') } ] }")', /checkout/src/libcore/result.rs:859

i am very sure the usename and password is correct, and the user have read write permission with the data base

[2017-04-24 16:25] saghm commented on #203
Hi, and thanks for opening the issue! I'll test the driver with the updated `bson` and `serde_json` dependencies, and assuming it all works, I'll push a new version shortly.

[2017-04-24 16:33] saghm commented on #204
Hi, thanks for the report! We haven't implemented authenticating through the URI in this driver yet; you'll need to use [`Database::auth`](https://docs.rs/mongodb/0.2.6/mongodb/db/trait.ThreadedDatabase.html#tymethod.auth).

If you change your code to the following, does it work?

[code]

[2017-04-24 16:55] saghm commented on #203
Just published 0.2.7, which updates `bson` to 0.7.0 and `serde_json` to 1.0.0. Thanks again for the report!

[2017-04-24 16:55] #203 closed

[2017-04-24 17:36] ThetaSinner commented on #203
Awesome, thanks for the update and the quick response time!

[2017-04-25 02:04] Matrix-Zhang commented on #204
it's ok!

[2017-04-25 03:55] saghm commented on #204
Awesome! I'm going to close this issue then, but if you run into any other issues with the driver, feel free to file another issue!

[2017-04-25 03:55] #204 closed

[2017-04-26 03:36] Matrix-Zhang opened #205 "Auth too slowly...."
every client.db() and then db.auth() is too slowly.....

[2017-04-26 15:20] saghm commented on #205
Hi! Sorry if I was unclear in my response to your previous issue; although `auth()` is a method on `Database`, you only need to authenticate once per Client. The fact that it's a method on a database is meant to indicate which database has stored the credentials that you're authenticating with, not that you're only authenticated for that database. I'm realizing now that the documentation for `auth

[2017-04-27 00:54] Matrix-Zhang commented on #205
it wokrs

[2017-04-27 11:03] Matrix-Zhang commented on #205
[code]
it seems have bug ?

[2017-04-27 13:32] saghm commented on #205
Could you post the code that produces this output? It's hard to tell what might be going wrong without seeing what's being run

[2017-04-27 13:46] Matrix-Zhang commented on #205
[code]
the lazy_static hold only one client, and auth in the db to store the auth session and then just call the other method

[2017-04-29 01:14] saghm commented on #205
You're correct, there does seem to be a bug here! From what I can tell, our `auth` method only authenticates for the current connection, but for the other connections in the pool, they are not authenticated.

From looking into the driver specifications, it appears that using eager authentication (i.e. authenticating immediately when making the connection rather than waiting until later) is recomme

[2017-04-30 03:42] Matrix-Zhang opened #206 "Find Fail"
i have a document such as:
[code]
if the find filter is
[code]
it return none but is mongo-shell is ok

[2017-04-30 05:44] anderspitman opened #208 "More complicated queries?"
Is there a way to nest the doc! macro to do more advanced queries? Something like this:

[code]

[2017-04-30 05:58] anderspitman commented on #208
Well that was fairly obvious:

[code]

[2017-04-30 05:58] #208 closed

[2017-04-30 16:03] kyeah commented on #205
sounds great @saghm 👍

[2017-04-30 17:56] saghm commented on #206
How exactly are you creating the ObjectId? It doesn't look like the code sample you've given using the `doc` macro will compile, since `Bson::ObjectId` only takes an `ObjectId` struct, not a string. Assuming you want to create the the ObjectId from string, you'll need to use `ObjectId::with_string`, which works locally for me when I try out your example.

[2017-05-02 02:39] Matrix-Zhang commented on #206
meybe i have somnambulated.... it's ok now....

[2017-05-02 02:39] #206 closed

[2017-05-05 00:15] anderspitman opened #209 "Default batch size is incorrect"
Using this driver for a basic query, the results are being returned to my client much slower than doing the same query with `pymongo`. My best guess is that the rust driver is making a bunch of round trips to the database to retrieve the results a bit at a time, while `pymongo` gets everything in one shot. Again, this is just a guess. If I'm right is there a way to change the behavior. Or is it so

[2017-05-05 00:22] saghm commented on #209
Can you give an example of the query you're using? It's hard to tell what might be going on without seeing the code that's running

[2017-05-05 00:22] anderspitman commented on #209
[code]

That returns about 1500 records. Even if I remove the print it takes a couple seconds to loop through all of them. The find call itself is basically instantaneous.

[2017-05-05 00:24] anderspitman commented on #209
Sample results:
[code]

[2017-05-05 00:44] anderspitman commented on #209
Quick and dirty comparison with pymongo. Times in seconds.

Time to execute `find`:
pymongo: 0.000126
rust mongodb: 0.048850

Time to loop through results:
pymongo: 0.057684
rust mongodb:  3.587362

[2017-05-05 00:57] saghm commented on #209
I think your instinct is correct; the default batch size for the Rust driver is 20 documents, whereas PyMongo doesn't seem specify one, and [the server defaults to 101](https://docs.mongodb.com/manual/tutorial/iterate-a-cursor/#cursor-batches). This looks like it might be something we need to change, but in the meantime, can you try [passing in a custom batch size](https://docs.rs/mongodb/0.2.7/mo

[2017-05-05 01:22] anderspitman commented on #209
That seems to do the trick.

`batch_size = 101` (mongodb server default):
Time to execute `find`:
0.069879
Time to loop through results:
0.983068

`batch_size = 2000` (big enough for the entire result; maybe same behavior as pymongo?):
Time to execute `find`:
0.294689
Time to loop through results:
0.002365

[2017-05-05 01:26] anderspitman commented on #209
Oh, I just read your comment more carefully. I guess the more useful test is setting batch_size to 0:
`batch_size = 101` (mongodb server chooses):
Time to execute find:
0.069820
Time to loop through results:
 0.299829

[2017-05-05 03:54] kyeah commented on #209
@saghm yep, i assume this comes from the mongoShell default. I'm +1 to using 0, which should act the same as other drivers in normal cases.

[2017-05-05 16:29] saghm commented on #209
Awesome. I'll open a PR with this change sometime tonight.

@anderspitman, thanks for noticing this issue!

[2017-05-12 12:45] YjyJeff opened #212 "IoError : failed to fill whole buffer"
Hi, I want to query data from mongo db. Here is my code:
`let client = Client::connect("localhost", 27017).expect("Failed to connect!!");
  let coll = client.db(DB).collection(COLLECTION);
  let doc = doc! {"key" => name};
  let mut cursors = coll.find(Some(doc), None).unwrap();
  // process data
  .......
`

I put all of this code in a function and spawn a thread to execute it. It almost works we

[2017-05-13 06:24] YjyJeff commented on #139
Can I set the pool size?

[2017-05-13 06:30] #212 closed

[2017-05-13 06:32] YjyJeff opened #213 "How to set pool size for my client?"
Hi, I find that the default pool size is 5. I think it's too small. How can I set the pool size ?
Thanks in advance!

[2017-05-14 03:43] saghm commented on #213
Thanks for filing the issue! It actually looks like we don't currently have a publicly accessible way of doing this right now, so we'll need to fix that!

 @kyeah, should we add an option to `ClientOptions` and pass that through all the way through to `ConnectionPool::with_size`?

[2017-05-14 03:45] saghm commented on #212
For future reference, did you close this because you determined it to be to running out of clients in the pool (i.e. #213)?

[2017-05-14 03:47] kyeah commented on #213
yep, that would be the way to go here! feel free to assign yourself if you're thinking of picking up this issue 🙏

[2017-05-14 04:04] YjyJeff commented on #212
@saghm Yep, I decided to share one client through all of my threads. It goes well.

[2017-05-15 00:39] #209 closed

[2017-05-15 00:54] saghm commented on #209
@anderspitman, we just released 0.2.8, which fixes the default batch size (by letting the server decide it). Feel free to try it out, and let us know if there are any issues!

[2017-05-15 00:57] saghm commented on #213
Will do! I have a train ride tomorrow that's a few hours long, so I might take a look at it then

[2017-05-17 22:06] TrionProg opened #214 "Fix issues with newer versions of bson and chrono"
I have Cargo.toml
[code]

[code]

I've edited my Cargo.toml
[code]

But then =(
[code]

[2017-05-17 22:18] Gedweb commented on #214
Confirm

[2017-05-17 23:27] saghm commented on #214
Thanks for the report! I just updated the dependencies and pushed to master. Assuming it passes the CI, I'll push a new version to crates.io.

[2017-05-17 23:34] saghm commented on #214
Just published 0.2.9. Thanks again for reporting the issue!

[2017-05-17 23:34] #214 closed

[2017-05-18 16:06] ndenev opened #216 "Failing to connect to a replica set with one member down."
I'm seeing lock poison errors and panics when I'm trying to connect to a replica set of a sharded cluster that has a member down:

[code]

I've tried setting `ReadMode::Primary` as `ReadPreference` but still it panics.

For context, I'm writing a tool to analyse the data from the profiling collections on each shard (for a specific database), so I get a list of all the shards from a `mongos` or the

[2017-05-19 01:53] saghm commented on #216
Thanks for the bug report! This seems like a serious issue, so I'll look into it as soon as I have a chance.

[2017-05-19 02:17] saghm commented on #216
Is there any chance you'd be in a situation where you could reproduce the error? I believe I have [a fix](https://github.com/saghm/mongo-rust-driver-prototype/commit/f340a9e8328a4f1c028e6b8879846a9464119147), but it's hard to be sure without testing it. No worries if you aren't able to; I can try to do it manually if it's not feasible.

[2017-05-19 13:15] ndenev commented on #216
Hi @saghm , I just tried and it seems it's easy to reproduce:

I've started up a test replica set using the following docker-compose:
[code]

Then initialized it:
[code]

So then I'm running this simple test Rust program (using `nightly`):
[code]

And here's what happens when I run it.

It works with all members up:
[code]

So then I'm killing one of the members:
[code]

And then it starts to fail

[2017-05-19 13:35] ndenev commented on #216
So, I've replaced my mongodb dependency in `Cargo.toml` with your fix:
`mongodb = { git = "https://github.com/saghm/mongo-rust-driver-prototype.git", branch="fix-error-on-rs-member-disconnect" }`

Now I don't see the crash, but the program hanged on the first attempt:
[code]

However for some reason then it started working when I killed it and started it again:
[code]

[2017-05-19 14:01] ndenev commented on #216
Running the program in while loop, from time to time it does seem to deadlock during connect and just hangs.

[2017-05-19 15:21] ndenev commented on #216
Here is a backtrace from when it hung:
[code]

[code]

[code]

[code]

[code]

for some reason I can't get a backtrace of thread 3 and 4 as I get error from the vscode extension. I'll try running it in the console, but I think they are going to show the same thing.

[2017-05-19 17:49] saghm commented on #216
Thanks a bunch for all the useful information! I really appreciate you putting in all this effort to help me debug the issue. I'll try to figure out what's going wrong here and keep you updated on the progress that I make.

[2017-05-31 02:24] Matrix-Zhang commented on #205
when would you fix this bug?

[2017-06-02 00:53] saghm commented on #205
Hi! Sorry for the lapse in communication here. We're actually in the middle of a pretty big overhaul of the client pooling for the driver (the first step towards this being #218), so fixing this with the current implementation might end up being a somewhat time-consuming change that we don't end up using. Of course, whether it's worth doing depends on both how critical fixing this bug is for you a

[2017-06-02 00:55] kyeah commented on #205
hey @saghm! I should have time on sunday to check in on that PR (although, of course, there will be more to come, and I'm not sure when I'll be able to review those).

[2017-06-02 01:18] saghm commented on #205
Ideally, it should only take one more PR after this one to get the new connection pooling implemented. Obviously I haven't written any code yet, but I don't know of anything right now that would prevent us from going straight from what's in the PR to an implementation with r2d2 working.

[2017-06-02 01:23] kyeah commented on #205
that would be 👌👌👌

[2017-06-02 01:28] saghm commented on #213
Hi! I just wanted to give an update on this since it's been a while without any visible progress on this. Upon looking into the client pooling in the driver, I found that there were some mistakes in the design that caused more clients than expected to be created (with the excess ones not being accessible to the user and therefore being dead weight), and we've decided to try to rewrite the connecti

[2017-06-22 04:45] mmun opened #220 "chrono@0.3.1 was yanked"
Getting errors when I build:

[code]

More details https://github.com/chronotope/chrono/issues/156

[2017-06-22 13:01] pengshaomin commented on #220
me to

[2017-06-22 18:37] jjpe commented on #220
This just hit me as well. A new `mongodb` release  that relies on `chrono 0.4.0` instead would be most welcome.

[2017-06-22 18:50] jjpe opened #221 "[Linux] Compiling mongodb v0.2.8 yields errors"
When I try to build my project (which depends on `v0.2.8` of this library) on Fedora 25, I get the following compilation errors:

[code]

I was about to try `mongodb v0.3` but unfortunately that release is borked (as well as `0.2.9`) since `chrono 0.3.1` [was yanked](https://github.com/mongodb-labs/mongo-rust-driver-prototype/issues/220).

[2017-06-22 19:12] mmun commented on #220
If we want to upgrade it looks like we'll need to wait until `bson` upgrades to `chrono@0.4.0` since this library interfaces closely with `bson`. I have a patch ready for both libraries.

[2017-06-22 19:16] jjpe commented on #220
Any idea yet when those releases will take place?

[2017-06-22 19:20] mmun commented on #220
Not sure but I'll submit a PR to bson-rs asap :)

[2017-06-22 19:24] mmun commented on #220
The other option, if bson-rs doesn't upgrade, is to to downgrade the deps here to chrono@0.3.0.

[2017-06-22 19:30] jjpe commented on #220
Well I was just about to upgrade the dependencies actually, and being able to finish that properly would be nice.
But indeed, if really necessary I could just toss the changes, no harm done.

[2017-06-22 20:04] saghm commented on #221
Thanks for reporting! I think this is a duplicate of #220, so I'm going to close this

[2017-06-22 20:04] #221 closed

[2017-06-22 20:05] saghm commented on #220
Thanks for reporting! @kyeah, any chance you could merge the fix for bson once you're not busy?

[2017-06-23 16:27] kyeah commented on #220
bson should be released on 0.9.0 — good to open a patch, @mmun (or @jjpe).

[2017-06-23 16:45] saghm commented on #220
Fixed in #222 and published in 0.3.1. Thanks to everyone for notifying us about this issue!

[2017-06-23 16:45] #220 closed

[2017-06-28 13:53] ndenev commented on #216
Hi @saghm , did you had any chance to track down this issue?

[2017-06-30 06:36] CircuitCoder opened #223 "Cannot create text indexes"
When creating text indexes, I get an error saying: "Index model keys must map to i32."

https://github.com/mongodb-labs/mongo-rust-driver-prototype/blob/master/src/coll/options.rs#L368

[2017-07-02 04:17] saghm commented on #223
Hi! Can you provide some code that reproduces this?

[2017-07-02 04:54] saghm commented on #216
Hi! I'm really sorry about taking so long to respond; I hadn't had a chance to take a deeper look into this yet, but I've just spent some time doing some initial research. Your instructions for how to reproduce the original error are superb, and it took almost no time at all to reproduce it using them. Interestingly, when I manually start up a replica set (with the same options and configurations)

[2017-07-03 22:47] ndenev commented on #216
Hi, no worries, I was just curious if you found something.
As for the "manually started" replica, I'm not sure understand what you mean by that. Can you clarify?

[2017-07-03 22:55] saghm commented on #216
Sorry for being unclear! I just meant that I manually ran `mongod` (with the necessary arguments) from the command line instead of using docker-compose to run them. I'm uncertain why running the replica set through docker consistently hits the issue (or why running the replica set outside of it consistently doesn't have the issue), but I'm guessing that it has something to do with differences betw

[2017-07-04 01:50] saghm commented on #216
Hello again! After playing around with reducing the scope of many of the locks that we use to deal with different threads connecting to and monitoring the servers, I was able to get the driver to the point where it no longer panicked but instead just hung when connected to the replica set spun up with docker-compose (similar in behavior to the earlier fix, but with an actual fix for the concurrenc

[2017-07-04 11:57] ndenev commented on #216
Hi @saghm,

I've just tried to run the cluster locally as per your instructions/startup script,
and with the old version of the code (not the one in master but the previous fix) after about 20-30 executions of my test program it deadlocked in the same spot.
However with the new version in your branch I let it run for maybe ~20 minutes and it was still running without problems, so it definitely see

[2017-07-04 12:12] ndenev commented on #216
It's now also running against a cluster started with `docker-compose` as before, and it doesn't hang.
This was happening pretty quickly before, no more than let's say 10 attempts until it hangs. Now it does hundreds without issues.

[2017-07-04 15:13] saghm commented on #216
Awesome! I guess the fact that I could only reproduce with docker was just a red herring. In case your curious, the issue was that we have a few types dealing with the state of the topology wrapped up in `RwLock`s that are shared between all the monitoring threads and all the connection threads. When the monitoring threads check to make sure that we didn't lose connection to any of the servers, th

[2017-07-04 15:26] thedodd opened #224 "Should have a method for listing index models."
Currently there is a method for [listing indices on a collection](https://docs.rs/mongodb/0.3.0/mongodb/coll/struct.Collection.html#method.list_indexes), which returns a `Result<Cursor<bson::ordered::OrderedDocument>>`. This is great, however it would be awesome to have a method which returns `Result<Cursor<IndexModel>>` for interoperability with the other index methods dealing with `IndexModel`.

[2017-07-04 17:28] saghm commented on #224
Feel free to open a PR! Our cursor type isn't generic (as Iterator types in Rust use associated types rather than generics), so Cursor<IndexModel> isn't quite the right type, so I think the right way to go might be to create an IndexModelIterator type that wraps cursor.

[2017-07-05 12:11] ndenev commented on #216
Thanks!

[2017-07-10 08:16] CircuitCoder commented on #223
According to the Javascript driver, a text index can be created in the following way, as said in http://mongodb.github.io/node-mongodb-native/2.2/tutorials/create-indexes/#create-a-text-index:
[code]

But the following rust code:
[code]

returns the error "Index model keys must map to i32.", because it only accepts integers for model keys.

Also, hashed indexes are created in the similar way, so I

[2017-07-10 08:38] CircuitCoder commented on #223
The C driver's implementation of index name generation is here:
https://github.com/mongodb/mongo-c-driver/blob/master/src/mongoc/mongoc-collection.c#L1029-L1043

It just accepts UTF8 values and concat them with the model key, like the way it deals with integers values.

So I guess it's safe to add a few match arms to allow string values like "text", "hashed" and so on.

[2017-07-10 15:41] rjcoupe opened #226 "Seemingly unable to connect via SSL due to missing function"
Trying to follow the docs:

[code]

But I get the following error:
[code]

I'm brand new to Rust, so there's every chance I'm missing something stupid here, but I can't see what ..

[2017-07-10 17:31] saghm commented on #226
Hi! Is is possible that you're not compiling with the "ssl" feature enabled? Since the driver needs to link to OpenSSL to be able use SSL and some systems might not have it installed, the SSL features are disabled by default. You'll need to add `--features ssl` to your Cargo invocations (build, run, etc.) if you haven't already.

Once you compile with the SSL feature, I think your current code wil

[2017-07-10 17:34] saghm opened #227 "Missing documentation for "ssl" features on docs.rs"
As mentioned in #226, it appears that docs.rs hasn't generated the documentation for the SSL-related functionality, presumably due to the conditional compilation of the feature. Fixing this might be as simple as switching the order of the feature attributes and the doc comments, although offhand I'm not sure what the proper way of handling this is.

[2017-07-11 07:59] rjcoupe commented on #226
Hi @saghm - I tried adding `--features ssl` but ran into an error stating that my package does not have that feature. I'm running OSX and have OpenSSL 0.9.8 installed, so I'm presuming I need to explicitly make it available to Rust, somehow? Thanks for your help!

[2017-07-19 07:05] CircuitCoder commented on #223
I've just created a PR for this one.

[2017-07-20 23:32] saghm commented on #223
Thanks! Sorry for not having a chance to get to it on my own quickly enough

[2017-07-20 23:33] saghm commented on #226
Are you still having trouble with this, or have you gotten it working?

[2017-07-24 15:25] max-frai opened #230 "Authentication with uri failed"
Hello, I have user with `root` permissions added into `admin` db. So when I connect to mongodb via some gui tool I just put ip address, user: "admin", password: "somepwd". It works great.
Now I want to connect in rust code:
 `Client::with_uri("mongodb://admin:somepwd@IPADDRESS:27017/admin")`  and later when I chose some exact db and trying to find something in collection I get `not authorized for

[2017-07-29 17:27] #216 closed

[2017-07-30 04:30] saghm commented on #216
Fixed in 6cdf8dd3064a48df87e19c17a30d16952b7c359b and published in 0.3.2. Thanks again for all your help with identifying and debugging this issue!

[2017-07-31 01:44] saghm commented on #230
Hi! We haven't currently implemented any of the URI options beyond the hostname and port, so using the `auth` method on `Database` is the only way to authenticate. We're planning to add eager authentication, as discussed in #205; would this be sufficient for your use cases, or do you specifically need URI configuration?

[2017-07-31 03:49] saghm commented on #226
I'm going to close this issue since we haven't heard from you in a bit. Feel free to reopen it or file a new issue if you're still having trouble.

[2017-07-31 03:49] #226 closed

[2017-07-31 09:47] max-frai commented on #230
Thanks for the reply.
No problem, I just spent some time until realized how to make it work :)
Using auth directly is ok

[2017-07-31 14:55] saghm commented on #230
Awesome! I'll close this issue then, but feel free to reopen it or file a new issue if you have problems again!

[2017-07-31 14:55] #230 closed

[2017-08-15 08:04] Matrix-Zhang opened #232 "aggregate too slow?"
i use aggregate to query documents where should have 110 results, i use iter to map the results to some type, elapsed 5 secs, how to optimize？

[2017-08-16 01:44] saghm commented on #232
Hi! Can you provide an example to reproduce this (self-contained code to run, contents of database to run against, etc.)?

[2017-08-18 01:42] greenpdx opened #233 "cursor to JSON example or method"
I have am new with rust, and I want to bulk transfer a "cursor" to a webpage using JSON.  I feel this is very important for mongo to be used in web applications using rust as the server.
I have gotten this far, and I understand how to grab specific keys and values from document, and I can turn docs into a byte stream, but I do not know how to turn doc into JSON.

          let docs : Vec<_> = curs

[2017-08-18 03:41] saghm commented on #233
Hi! The `Bson` type implements `Into<serde_json::Value>`, so if you add `serde_json` as a dependency and `use serde_json::Value`, you can just use the `into()` method to convert it.

As for sending it to a webpage, though, this might not be the right route to go. Most often you'll be using some sort of backend framework to serve your app, so it's probably better to just send the data in whatever f

[2017-08-18 05:33] greenpdx commented on #233
I understand what you are saying, but I pass a large data set to the front-end and do real-time  data analysis / display in the front end.  I am using Vue as the SPA framework,  so I only use JSON data as communication between the rust server and front end. I am transferring about 5K documents each 2K (about 1M compressed of JSON).  That is why I want to keep the back-end quick.
Would it be possib

[2017-08-18 06:16] saghm commented on #233
Ah, makes sense! Here's an example of a function to convert a cursor into a serde_json::Value (along with a main function to demo its usage):

[code]

Note that the cursor API iterates over document results rather than just documents; this is because the driver fetches each batch of results lazily, so in the case of multiple round trips, there might be an error getting the next document even if al

[2017-08-18 12:46] greenpdx commented on #233
Thanks, Looking at the code I understand it, but I could not write it.
 The full project will be at github.com/greenpdx/tnvvue, the rust server will be a submodule.

[2017-08-18 12:46] #233 closed

[2017-08-19 03:17] saghm commented on #233
If it helps at all, feel free to lift the function for converting the cursor to JSON for your project. And feel free to file another issue if you have any other questions!

[2017-08-23 15:21] Matrix-Zhang commented on #232
[code]
the output is :
values's count: 100, elapsed: 4s

[2017-08-28 22:41] greenpdx opened #234 "Document to struct and back that has binary data"
I am trying to save and retrieve crypto data in a mongo collection.  I managed to create a code mess to do it.  Before I insert and after a find, I convert the binary data to base64 string.  I have pasted my structure, From implementation and document.  I am not happy with the code, as you can see why.

Is there a way to write binary to mongo using rust?
What can I do to clean up the code?
How do

[2017-08-29 17:18] saghm commented on #234
This is currently a wart in the Rust language; the idiomatic way to deal with this would be to implement `From<Document> for Result<TmpLogin, ...>`, but since both Result and Document are defined in external crates, this wouldn't compile. The proposed solution for this is the [`TryFrom`](https://doc.rust-lang.org/std/convert/trait.TryFrom.html) trait, but unfortunately it's still unstable. Assumin

[2017-09-02 16:03] greenpdx commented on #234
I found some good docs that helped on bson-rs website.  One of the problems I am having is find the correct docs. As you stated earlier that returns are difficult.  I would suggest that on the frist page you would add a example of a structure being read inserted and find into mongodb with a result being returned. the examples using println does not help with returns.

If there is an easier way I w

[2017-09-02 16:03] #234 closed

[2017-09-03 19:52] saghm commented on #234
Thanks for the feedback! I believe that the reason this doesn't feature prominently in the documentation for this driver because at the time when the driver was initially written, the bson crate was using rustc-serialize rather than serde, and we assumed the standard way users would use the driver would be through manual use of the bson crate's types. It's probably worth at least pointing out the

[2017-09-05 15:55] lukaspustina opened #235 "Do not enforce client cert and key for `ClientOptions::with_ssl`"
Dear crate team,

thanks for this helpful crate for which I'd like to propose a change.

The function `ClientOptions::with_ssl` enforces a crate user to supply a CA cert as well as a client cert and a corresponding key. This is unfortunate, because this requirement steams from the code and not from the actual mongo DB driver. For example, it's perfectly fine to create an SSL encrypted connection u

[2017-09-06 01:22] saghm commented on #235
I think you might be misreading the documentation that you linked to. Specifically, the [`--sslPEMKeyFile`](https://docs.mongodb.com/manual/reference/program/mongostat/#cmdoption-sslpemkeyfile) option that the documentation describes requires that a client certificate is present in the file as well. This driver slightly diverges from that API by accepting the client certficate and client key as se

[2017-09-06 08:33] lukaspustina commented on #235
Thanks for your quick response. I think I didn't make myself clear.

The issue I like to resolve is that the current implementation requires to supply a CA certificate as well as client certificate. For a transport encrypted connection the client certificate is not necessary, but has to be supplied anyway though.

I'd like to change the crate in a way that only the CA certificate has to be passed

[2017-09-07 01:55] saghm commented on #235
Ah, okay, I think I understand now! Supporting encryption without authentication definitely should be supported here. I don't think the change would need to be very involved; the only slight challenge would be deciding the most ergonomic way to allow users to either provide both parts of the client credential or neither.

[2017-09-07 08:41] lukaspustina commented on #235
I completely agree. The main question is whether to try to keep the current API working (minor version) change or introduce an API breaking change (major version).

From the ergonomic point of view, we should change the API and move the client certificate parameters into some kind of Option. I'll be happy to prepare a PR for this. Just give me the go.

It's up to you then to decide how to create a

[2017-09-08 03:02] saghm commented on #235
Feel free to submit a PR! I'm not opposed to changing the API slightly for this if necessary; we still consider the API to be unstable (hence the pre-1.0 version). That being said, I'm not sure that having an `Option<(&str, &str)>` is the most ergonomic way to do this; my instinct is to have two separate methods, once that takes the four existing parameters and one that just takes the CA certifica

[2017-09-10 04:39] saghm commented on #232
Hi again, and sorry about the delay! It turns out there's a slight bug that was introduced in bea146b92a81d40288bcb7e20a3a6d6a34145b4b; when we switched to setting the default batch size of 0 to allow the server to choose, it also caused aggregation to switch to fetching only one document at a time (due to aggregation setting the batch size with a different options where the server does _not_ inte

[2017-09-10 20:15] saghm commented on #232
Fixed in 0.3.4. Thanks for reporting the issue!

[2017-09-10 20:15] #232 closed

[2017-09-12 11:19] lukaspustina commented on #235
cf. https://github.com/mongodb-labs/mongo-rust-driver-prototype/pull/238 please.

[2017-09-15 04:02] saghm commented on #235
Merged in #238 and published in 0.3.5. Thanks again for your help with this!

[2017-09-15 04:02] #235 closed

[2017-09-16 11:41] Iulian7 commented on #179
Is there any progress on these features?

[2017-09-16 15:52] saghm commented on #179
Unfortunately there hasn't been yet. I hope to find some time soon to dig through the backlog of features we have planned for this driver.

[2017-10-13 12:35] cedricve opened #240 "Only returning a limited number of items and locks"
Hey,

I've been experimenting with this library, but it looks that when trying to iterate over a collection I only get a few items returned and afterwards the program goes in a locked state. Also when trying to find a record which is at the end of the collection, the program locks.

Any idea?

       let mut cursor =  coll.find(Some(doc.clone()), None).unwrap();

        for result in cursor {

[2017-10-16 19:24] kyeah commented on #240
Hey @cedricve! Could you provide a few details on how your database/collection is set up? Is this with a basic, unsecured, single-instance DB? What do your documents look like? How large is your collection? What system/mongodb version are you running on?

That should help us debug where and how the program is getting locked. Thanks!

[2017-10-22 13:25] cedricve commented on #240
hey @kyeah,

Well this is a trivial database with no sharding or authentication. Documents are max (2level nested) and there are about 2000 documents in the collection. Version is db version v3.4.5. Machine is running Ubuntu 16.04.2 LTS.

[2017-11-20 21:45] Trolldemorted opened #243 "Client::connect does not return errors when it cannot connect"
The following code does not panic:
[code]

even if there is no host A.B.C.D available on my network. I assume that it should, because connect should return an error if it cannot connect.

mongodb = "0.3.7"
rustc 1.21.0 (3b72af97e 2017-10-09)
toolchain stable-x86_64-pc-windows-msvc

[2017-11-21 04:33] saghm commented on #243
Hi @Trolldemorted! To go into more detail, all of the official MongoDB drivers follow [a set of specifications](https://github.com/mongodb/specifications), so we opted to follow them as well despite this being an unofficial driver. For various reasons, the specifications dictate that no actual I/O should be done during the initial connection to the database and that errors should occur lazily rath

[2017-11-21 05:19] kyeah commented on #243
That sounds like a good action for this, @saghm 👍

[2017-11-21 08:38] Trolldemorted commented on #243
Thanks for the quick reply!

TcpStream does actually connect when you call connect, doesn't it? You might want to rename connect (::new?), because a connect function that does not connect is a bit counter-intuitive. But yeah, changing the doc is also ok.

But why does it return a result? Can the result ever be Err, if it does not actually connect?

[2017-11-21 22:25] kyeah commented on #243
TcpStream connects up front, but we have an internal connection pool that doesn't initiate any streams until it's needed by a request.

Instead, `Client::connect` can return an error if the configuration is invalid, e.g. the described topology does not match the connection string that is given. These errors arise here: https://github.com/mongodb-labs/mongo-rust-driver-prototype/blob/master/src/top

[2017-11-22 00:11] Trolldemorted commented on #243
Ah, that makes sense!

You might want to update your documentation though, as right now it does not mention when connect will return errors.

[2017-11-22 00:11] #243 closed

[2017-11-22 17:12] saghm commented on #243
Thanks for the feedback! When I open a PR with the changes, do you want me to ping you to take a look at it?

[2017-11-22 19:34] Trolldemorted commented on #243
Sure, will do!

[2017-11-25 16:59] thedodd opened #244 "Don't include (Bulk)WriteExceptions in Ok portion of Results."
The following objects have optional error fields which must be evaluated under a success branch as opposed to being propagated as the `Err` variant of the `Result` object which they are always found in. These are always a `WriteException` or `BulkWriteException`.
- https://docs.rs/mongodb/0.3.7/mongodb/coll/results/struct.InsertOneResult.html
- https://docs.rs/mongodb/0.3.7/mongodb/coll/results/st

[2017-11-28 01:29] saghm commented on #240
Hi @cedricve! Sorry for the late response; is there any chance you could provide us with some sample database contents that cause the issue? I know it might be tough if you can't give us the exact contents due to them being sensitive, but having a way to reproduce the issue would go a long way towards helping us debug it.

[2017-11-28 01:47] saghm commented on #244
Hi @thedodd! Offhand, I have no idea why the first four have that field. `BulkWriteResult` is supposed to have it according to [the spec](https://github.com/mongodb/specifications/blob/master/source/crud/crud.rst); since MongoDB doesn't currently have transactions, each write in a bulk write is executed separately, so it's possible that one or more writes might succeed before an error occurs. The

[2017-11-29 03:08] kyeah commented on #244
Here's the relevant PR that introduced these: #71. They were initially added to follow the mongo shell behavior, but I'd like to look into this a little more and see if this is still a desired behavior for drivers (or if this is even the behavior for the mongo shell now).

[2017-11-29 04:46] thedodd commented on #244
An additional item I forgot to mention, and which is actually the reason for this issue; when I was building this code: https://github.com/thedodd/wither/blob/master/src/migration.rs#L120-L134 I was getting unexpected results where the `update_many` call wasn't returning a top-level error, but there was a nested `write_error`.

So, an overarching question then: wouldn't the handlers here, which do

[2017-12-04 14:05] polachok opened #245 "Aggregate batch size reset after first batch"
I'm using this code:

[code]

I have around ~3000 records in this collection
What I expect: batch len would be 100 on every iteration.
What I see: batch len is 100 first time, and then 1.
This makes it very slow (several minutes  for 3000 records), if I set batch to 5000, I get them all in under 5 seconds.

[2017-12-18 21:54] mjjansen opened #246 "3.6 Change Streams"
Any rough sense of when these might be supported?  thank you!

https://docs.mongodb.com/manual/tutorial/change-streams-example/

[2017-12-21 17:06] kyeah commented on #244
Hey @thedodd, sorry for the radio silence! After looking into the mongo shell behavior, it looks like a BulkWriteException is thrown if any write error is found — as seen [in this example](https://docs.mongodb.com/manual/reference/method/db.collection.bulkWrite/#unordered-bulk-write).

I think your observations above are valid, especially given the behavior seen in the example — we should be propa

[2017-12-29 16:39] stefano-pogliani opened #247 "Reference cycle of `Client` and `Monitor` leaks connection"
There seems to be a connection leak when creating a `Client`:
[code]

I believe this is caused by the `Monitor` instance stored in the `Server` instances that are added to the `Topology` stored in the `Client`:

  * [Once the client is created the servers are added](https://github.com/mongodb-labs/mongo-rust-driver-prototype/blob/master/src/lib.rs#L387)
  * [Each server keeps a reference to a moni

[2018-01-16 21:31] mexus commented on #191
Hi guys!

Any plans on implementing that feature? It might be very useful for real-world applications. Could it be that you lack on resources and some help might be used? :)

[2018-02-10 17:53] qguv opened #248 "Support for DNS Seedlist Connection Format, default for MongoDB Atlas"
DNS seedlist connection strings are introduced in 3.6 as described [here](https://docs.mongodb.com/manual/reference/connection-string/#dns-seedlist-connection-format), and are now the default connection string format provided by Atlas. Unfortunately, they're not yet supported in the Rust driver.

[2018-03-03 19:40] DoctorVWA opened #250 "How I "save" the db?"
I want to set a path to save the db file(s), how can I do this?

[2018-03-04 13:23] DoctorVWA commented on #250
Ok, I found on the README, have an way to run the server with crossplatform compatible and without the app user don't have the mongodb installed?

[2018-03-04 23:27] #250 closed

[2018-04-03 02:39] thedodd commented on #196
@kyeah so, just a quick update in response to the above comment. The library could be coded to use futures, on top of the tokio stack &c, and then if a user needs it to be sync, they can just call `.wait()` on the future.

I know that there would be a pretty serious amount of work which would need to go into getting things cut over to tokio & futures, but a single futures based approach would cove

[2018-04-08 23:35] thedodd commented on #244
@kyeah sorry for the radio silence as well `:)`. Since the time we all had this conversation, the rust ecosystem has grown and matured significantly. I'm stoked about the futures & tokio ecosystem stabilizing so much as it opens up opportunities for more futures based libs to come about (**which is a complete aside from this thread `;)`**).

I would love to get more involved with this library. @ky

[2018-04-12 01:27] thedodd opened #251 "No cursor found for cursor operation."
Attempting to [list_indexes](https://docs.rs/mongodb/0.3.7/mongodb/coll/struct.Collection.html#method.list_indexes) on a collection which does not exist, seems to return a [`CursorNotFoundError`](https://github.com/mongodb-labs/mongo-rust-driver-prototype/blob/980b47ea73053d2135b316c3db93df1c2ea0f672/src/error.rs#L192).

I do not recall this being the case in `0.3.0`, and the `mongo` shell does no

[2018-04-25 08:39] Trolldemorted opened #253 "support async operations"
It would be great if a variant of insert/update/find would return a [future](https://docs.rs/futures/0.2.1/futures/prelude/trait.Future.html), so that we can efficiently execute a batch of operations on an executor (and its threadpool).

[2018-04-27 06:05] shuaizhiwen opened #254 "How do I use client in any file?"
I'm planning to make a web project. I hope that I can use the database in the main function and I can use it directly in other places.

main.rs
[code]
user.rs
[code]
A similar way of use has not been found in the document. The other demo calls the connection function every time. I don't think that is necessary. And I don't know whether the connection will be repeated every time the connection is c

[2018-04-29 03:00] thedodd commented on #253
@saghm | @kyeah, you guys have any plans on cutting this crate over to a futures based interface? It would be awesome to get a milestone in place with, perhaps, some issues which folks could start hacking on.

The nice things about rust futures is that you only need the futures based API. Folks that are not using an async model will still be able to use it in a sync fashion with the `.wait` method

[2018-05-02 03:37] shuaizhiwen commented on #254
If I have all written "main.rs", it will be bloated, and there is a better way to pass it. I look at a demo in GitHub, and each time you call a method to return to "client", I want to be able to handle this in a correct and elegant way. If you do not support, can give a train of thought, I am a beginner, not very understand. Thanks for your help

[2018-05-02 03:55] shuaizhiwen commented on #254
I think R2D2 can solve this problem very well, but I haven't seen this progress. Is he still continuing? [#218](https://github.com/mongodb-labs/mongo-rust-driver-prototype/pull/218)

[2018-05-04 06:09] #254 closed

[2018-05-15 21:37] fdubois1 opened #255 "How can I know if connection with the database is down ?"
I know that Client::connect() doesn't open the connection with the database.  How can I know if the connection is valid ?  I saw  https://docs.mongodb.com/manual/reference/command/ping/ but I don't know how it should be used here.  Is there a way to know if my connection is valid or not ?
Thanks

[2018-06-21 14:49] marcelbuesing opened #256 "Add auth to base examples"
This might be common knowledge but I was not aware that there was the need for calling auth with user and password after already providing it via uri already.

So:
[code]
turned out to be
[code]

Is this a bug or am I missunderstanding user and pass in the uri ?

[2018-06-21 17:42] laplaceon opened #257 "Updates and replaces fail silently on bulk write"
I have tried to use the bulk write method for collections, but writemodels of variant replaceone and updateone are silently failing while insertone works. I checked my mongod log files and there is no evidence of an error. I am using rustc 1.26.2 and mongodb 3.6.4.

[2018-06-21 22:44] laplaceon commented on #257
I'm not completely familiar with the crate, but after some inspection of the source code, I found snippets of code that seem suspect and may relate to this issue.

On lines 606-608 of coll/mod.rs: https://github.com/mongodb-labs/mongo-rust-driver-prototype/blob/5b9807e8b1e54cb89d318f42de8c45264da55e5e/src/coll/mod.rs#L606-L608

Shouldn't this be:
`        if !exception.unprocessed_requests.is_empt

[2018-06-23 16:55] vamshi9666 commented on #221
this still is not solved . i a, still facing this .

[2018-06-23 23:47] kyeah commented on #257
Closed by #258.

[2018-06-23 23:47] #257 closed

[2018-06-23 23:57] kyeah commented on #256
Thanks for the issue! user-password authentication occurs at the database-level. The user, password, and database are parsed from the URI, but I don't believe we have it set up to automatically authenticate when you create the database object, which is probably desirable from a user standpoint.

[2018-06-24 00:05] kyeah commented on #221
hi @vamshi9666, do you mean that you require v0.2.8, which is not buildable? we recommend upgrading to v0.3.1 at the minimum — I believe the changes are fairly minimal between 0.2 and 0.3 — but we could potentially create a v0.2.9 patch if necessary.

[2018-06-24 13:05] xdk78 opened #259 "Build error on Windows"
OS: Microsoft Windows [Version 10.0.17134.112] x64
Rust 1.28.0 nightly
cargo 1.28.0-nightly (e2348c2db 2018-06-07)

[code]
I think this issue is same as tokio and hyper lib https://stackoverflow.com/questions/50644880/cannot-recursively-call-into-core-when-trying-to-achieve-nested-concurrency?rq=1.

[2018-07-09 11:44] kper opened #261 "find_one with id string doesn't work"
I would like to find a document by id like the README of bson shows.

[code]

However, this seems not to work. Is there any way to do a `findById`?

[code]

[2018-07-09 16:04] nevi-me opened #262 "Aggregation: Unable to Create $in"
I'm trying to convert a service from Java/Kotlin to Rust, but I'm having issues with some "complex" aggregation steps.

I've been unable to find how to do it on both this repo and the `bson-rs` repo. Can someone help me?

How can I translate something like the below into a Rust aggregation stage?

[code]

I suppose I don't know how to convert arrays into valid Bson documents.

I tried the followin

[2018-07-09 17:09] nevi-me commented on #262
I've been helped by @saghm

[2018-07-09 17:09] #262 closed

[2018-07-09 18:35] saghm commented on #261
This works for me locally; what are the contents of your collection at the time of running this operation?

[2018-07-10 12:59] kper commented on #261
I build a minimal example:

Cargo.toml
[code]

main.rs
[code]

The document, which I would like to retrieve:
`{ "_id" : ObjectId("5b44ab692254d2749c47c209"), "members" : [ { "email" : "some email", "party" : "neos", "color" : "pink" } ] }`

Query:
`db.games.insertOne({members: [{email: "some email", party: "neos", color: "pink"}]})`

[2018-07-10 14:14] saghm commented on #261
This doesn't work because you're inserting the _id field as an ObjectId string but querying for it as a string. You need to use `ObjectId("5b44ab692254d2749c47c209")` in the query.

[2018-07-10 17:06] kper commented on #261
Thanks for the idea!

I didn't find the tuple struct, but
[code]
did it!

[2018-07-10 17:06] #261 closed

[2018-07-10 19:11] kper opened #264 "Error `Update only works with $ operators.` on `update_one`"
Hi!

I'm having some troubles performing updates like it is described on the mongodb blog post (https://www.mongodb.com/blog/post/the-new-mongodb-rust-driver).

Do I miss something, because I'm getting `Update only works with $ operators.` as an error?

Minimal Example:

Cargo.toml:
[code]

main.rs:
[code]

Query:
`
db.games.insert({members:""})`

[2018-07-10 20:38] saghm commented on #264
Looks like a mistake in the blog post! The correct way to do an update for a single field is to use `$set`, i.e. `doc! { "$set": { "title": "Ferris Bueller’s Day Off" } }`. Alternately, you can replace the entire document by using `replace_one` instead of `update_one`.

[2018-07-10 20:46] kper commented on #264
Thanks for the clarification!

[2018-07-10 20:46] #264 closed

[2018-07-13 13:33] nevi-me commented on #245
@saghm #236 addresses the problem, but looks like it still exists on 0.3.9

Is there a workaround?
I have something like the below

[code]

[2018-07-13 17:07] saghm commented on #245
Thanks for reporting this @polachok! That's the correct workaround @nevi-me (although I don't think you need to use `use_cursor`, as aggregations use cursors by default except on old versions of the database).

I'll look into the issue to see why this is happening; offhand, it seems like it's probably that the batch size is not propagated to the `getMore` commands (which are what drivers use to ge

[2018-07-13 17:23] nevi-me commented on #245
Thanks @saghm, I noticed that even if I don't `use_cursor` it still uses it by default, so that makes sense. Could this be it? https://github.com/mongodb-labs/mongo-rust-driver-prototype/blob/01af46789f95d1101e93ca7ea70200b6f4a62eb4/src/cursor.rs#L111

[2018-07-13 17:33] saghm commented on #245
Hmm, yes, that looks like it's the issue. Normally when sending a command, there aren't any batches in the result, but given that queries are still send as commands, that needs to be overridden in some cases. I think the best fix would be to have that method take a `batch_size: Option<i32>` parameter and then having that assignment be `options.batch_size = batch_size.unwrap_or(1)`. I can make this

[2018-07-13 18:08] nevi-me commented on #245
I should be able to do it, how would I test it? Can you please point me somewhere in tests where I could go. I'm still new to Rust, so I unfortunately haven't written any unit tests in Rust yet ☹️

[2018-07-15 01:42] saghm commented on #245
We can continue the discussion on the PR, but the short answer is that I don't think it's a good idea to have the default be set back to 20, as it isn't sufficient for actual batched queries and isn't correct for commands.

[2018-07-19 18:36] abelsromero opened #267 "Unable to connecto to Azure Cosmos/MongoDB (Windows 10)"
Hi,

Azure offers "compatible" MongoDB as-a-Service in the CosmosDB offering. This is authenticated with a user and a key and uses SSL. All of this is setup in a connection string you get from Azure's admin portal.
I can connect with the Java drivers without problems but with this drivers I get `No servers available for the provided ReadPreference`.

With Java I don't need to tell anything because

[2018-07-20 19:30] inv2004 commented on #246
Very important, because the thing would help to throw away different MQs.

[2018-07-25 07:00] abelsromero commented on #259
I could build it today also on Windows 10 with:

* stable-x86_64-pc-windows-gnu
* nightly-x86_64-pc-windows-gnu
* nightly-x86_64-pc-windows-msvc (rustc 1.29.0-nightly (6a1c0637c 2018-07-23)

Just cloned the repo and run `cargo build`.

[2018-08-04 21:20] thedodd opened #270 "Support for MongoDB transactions."
Hey all.

Any plans for implementing support for transactions per the new 4.0 transactions feature?

[2018-08-04 21:25] thedodd commented on #253
Async/await is stabilizing, and we now have the core Future traits in std. May be a good time to move things in that direction.

The great thing about a futures based API is that this library would not need to use a reactor itself. It would only have to work with futures. The code that uses this library would then need a reactor in order to drive everything asynchronoously. Or just `.wait()` to us

[2018-08-04 21:59] thedodd commented on #246
Agreed. Definitely would be useful to have.

[2018-08-04 22:37] Trolldemorted commented on #253
The [documentation ](https://doc.rust-lang.org/beta/std/future/index.html)states it is experimental:

[2018-08-05 14:53] thedodd commented on #253
Indeed. An experimental branch on our side may do the trick though. We could get a stabilization path planned out for it as well.

The other thing that we will need to wait for is the tokio crate to have a version compatible with futures 0.3 (which is the compatibility version with the std futures). Last report I read, the networking wg will be tackling that soon.

I only mention the tokio crate b

[2018-08-10 03:08] inv2004 commented on #88
Are there any examples how to use ThreadedClient or ThreadedDatabase?

Thank you,

[2018-08-10 03:37] saghm commented on #88
Hi @inv2004! You don't actually need to do anything beyond importing them; they're simply traits defined so that we can define methods on `Arc<ClientInner>`. We defined it this way because it isn't possible to define methods on this type alias directly.

@kyeah on an unrelated note, I did actually come up with a way a little while back to solve this issue without needing a trait! (I didn't come up

[2018-08-17 00:55] Ten0 opened #271 "[BUG] Authentication support is broken when using threads"
It was already mentionned that when opening a server using the URI the username and password are not actually used, though parsed, and we're supposed to authenticate manually using :
[code]
However, since the client is using a connection pool, -unless I missed something- we have no way to know on which connection we're authenticating when using several threads, resulting in an `OperationError("com

[2018-08-20 09:35] abelsromero commented on #267
Just wondering if there has been any update on this.
I'd als appreciate if someone can point me in the direction to further investigate.

[2018-08-21 17:35] saghm commented on #271
I think this is a duplicate of #205 (see https://github.com/mongodb-labs/mongo-rust-driver-prototype/issues/205#issuecomment-298137819)

[2018-08-25 19:06] thedodd commented on #246
@saghm @kyeah any pointers on where to get started with implementing this???

[2018-08-25 19:27] MarvinHannott opened #272 "upserted_count and upserted_ids don't represent all upserts"
When doing a bulk_write like this

[code]
the ```users_result.upserted_count``` is 1, regardless of the true number of upserts. Likewise the ```users_result.upserted_ids``` object only holds the id of the first upserted element.
When indeed no upsert happens, the ```upserted_count``` is zero and ```upserted_ids``` is empty.

[2018-08-29 19:10] saghm commented on #213
The pool size determines the number of connections that are able to be open to a given server at once.

[2018-09-07 16:01] thedodd commented on #267
@abelsromero hey, I don't maintain this crate, but I am seeing a similar issue, particularly with a sharded cluster I am using (connecting through a mongos statefulset in a k8s cluster).

I'll report back if I find anything useful.

[2018-09-07 16:26] saghm commented on #267
Hello! Sorry for the lack of response. The issue you're having is appears to be due to the driver currently not supporting any options in the connection string beyond the hostname and the port, meaning that the authentication options will not be parsed. This issue has come up before (specifically in https://github.com/mongodb-labs/mongo-rust-driver-prototype/issues/205).

That being said, it's wor

[2018-09-07 16:59] abelsromero commented on #267
👍 Totally agree! The way I see it, Microsoft is the one stating they provide a compatible product and any kind of divergence with offical MongoDB should be fixed on their side. Is just that I have been working with the official Mongo Java driver (and mongoimport/export) for some time without problems and with this I could not login.

[2018-09-07 17:53] saghm commented on #267
Thanks for understanding! Unfortunately I don't work on this driver full-time since it's not officially supported by the company, so there are a number of places where it lags behind the Java driver (and other official drivers). Hopefully some day we'll have an officially supported Rust driver!

[2018-09-09 21:06] saghm commented on #259
It seems to me that this was an issue with a specific nightly version of the compiler and no longer is a problem. Any objections to me closing this issue @xdk78?

[2018-09-09 21:06] saghm commented on #223
Fixed in #228

[2018-09-09 21:06] #223 closed

[2018-09-09 21:08] saghm commented on #197
It seems like https://crates.io/crates/typed-builder is getting popular and doesn't have the issue that `derive_builder` has with requiring a `Result` to be returned from the builder method in all cases, so I think we should use that when we implement this feature.

[2018-09-09 21:10] saghm commented on #146
Given that aggregation is strongly preferred over the map reduce feature nowadays (and that it doesn't seem like there's a lot of demand for this feature), I'm going to close this issue.

[2018-09-09 21:10] #146 closed

[2018-09-14 19:44] nevi-me opened #273 "Connection Issue with MongoDB 4.0.x?"
I've been developing an application with this driver on 3.6. I'm running 4.0 in production. Both my development and prod environments run replica sets.

I'm getting `OperationError("No servers available for the provided ReadPreference.")` when connecting in prod.

From looking at MongoDB logs, I see:

[code]

I've got 2 connections in 2 threads, they seem to get created, then they disconnect 10 se

[2018-09-14 23:41] saghm commented on #273
The test suite is being run on Travis against 4.0 without any issues; trying it out locally, it works fine for me. Are you running using PrimaryPreferred with a non-replica set?

[2018-09-15 05:35] nevi-me commented on #273
I've got a 1-member replica set (mainly so I can tail oplog). I encountered the problem before I chose PrimaryPreferred, I'll try other combinations and revert back with some feedback.

[2018-09-15 05:52] nevi-me commented on #273
Connecting directly with `Client::connect("host", port)` worked. I did check my `rs.status()` to check if there's issues with my replica set, but all seems fine there.

I don't know how to get more debug information, but if there isn't enough information to figure out what the cause is, I can close the issue.

[2018-09-17 21:59] saghm commented on #273
I wrote a small example based off your snippet to try see if I could reproduce your issue (note that it drops the `foo.bar` collection, so be careful if you run it against your actual cluster):

[code]

It works fine for me both with a standalone and a single-node replica set with server version 4.0. I'm not sure what else to do to try to reproduce it, unless you have any ideas.

[2018-09-19 23:07] stefano-pogliani commented on #273
I'm having this issue when attempting to connect to a mongos process.
I have tried using this with 3.4 and 3.6 and it seems to work fine but with 4.0 I get
[code]
I am not explicitly setting the read mode to anything.
Is there anything I can do to debug this?

[2018-09-20 03:06] nevi-me commented on #273
Hi @stefano-pogliani, I've been unable to find out more information from my end. Can you check how long the connection stays open for on your mongo logs? Mine was just over 10s each time. I want to see if there's a pattern there.

[2018-09-20 03:51] saghm commented on #273
Hi @stefano-pogliani! Can you provide an example of some code that runs fine on 3.4 and 3.6 but not on 4.0 along with the structure of your cluster (number of config servers, mongos's, and the number/composition of each shard)?

[2018-09-20 12:04] stefano-pogliani commented on #273
Hi @saghm, sorry for the vague comment yesterday.
Here are some more details:

  * The mongo cluster is a docker-composed testing/developing setup: https://github.com/replicante-io/playgrounds/blob/86265d6198fb0778820ddadbacb1611cd1e86ecd/mongo/sharded/docker-compose.yml
  * The mongo cluster is: 1 3-nodes config replica set, 2 3-nodes shard replica sets, 1 mongos instance
  * The code that create

[2018-09-20 18:38] stefano-pogliani commented on #273
More details:

  * Exact mongos version: v4.0.2
  * I get the error message in mongos logs constantly (as if the client was attempting a new connection just as the old one fails:
[code]
  * Changing the client instantiation code to `let client = Client::connect("172.64.0.40", 27017)` seems to have slowed down the amount of logs in mongos (possibly because I set a server selection timeout which is

[2018-09-20 19:02] stefano-pogliani commented on #273
Oh, just spotted this: if I stop the client process and let the mongos process run with no connections for a while (at least 10 minutes) the mongos instance seems to get into an odd state where it would not accept connections (not even from a local `mongo` shell) and times out the docker compose stop command.

[2018-09-23 02:33] inv2004 opened #277 "Performance is worse than terrible"
mongodb = "0.3.10"

rustc --version
rustc 1.30.0-nightly (4591a245c 2018-09-22)

mongod --version
db version v4.0.2

Rust:
https://gist.github.com/inv2004/87b49ee4217872d9260e13a09e6bf524
[code]

Go:
https://gist.github.com/inv2004/d8e397ee7d0553940b60dff7f3005540
[code]

---added---
mongo_driver:
real 0m0.583s

[2018-09-23 03:16] inv2004 commented on #277
+ mongo_driver:
real    0m0.583s

[2018-09-23 23:16] vaffeine commented on #277
I took a quick look at the problem with callgrind. The first thing that caught my eye was a huge amount of allocations caused by in bson::OrderedDocument::clone(), and then the same amount of deallocations, when OrderedDocument is dropped. In case of your gist OrderedDocument::clone() is called 9046, which results in 243000 calls to both __rust__alloc and __rust_dealloc at the bottom of the call s

[2018-09-24 01:05] inv2004 commented on #277
Thank you, its s good point, because mongo_driver uses doc by ref also. Unfortunately, I do not think that these allocations is the main point, because initial problem was found in the code, which generates uniq doc's.

+ I did not makde any special benchmarks, but I see that .find in mongo_driver is even much faster than mongodb. ~5k/1sec (native) vs ~15k/1sec (WSL)

[2018-09-26 22:53] stefano-pogliani opened #278 "Read Concerns and Write majority"
Hello,

I was looking at support for `majority` [read](https://docs.mongodb.com/manual/reference/read-concern-majority/) and [write](https://docs.mongodb.com/manual/reference/write-concern/#writeconcern.%22majority%22) concern.

It seems the driver has support for [read modes](https://github.com/mongodb-labs/mongo-rust-driver-prototype/blob/master/src/common.rs#L11) which I could not find in the [

[2018-09-27 09:11] Lomect opened #279 "No servers available for the provided ReadPreference! When connect remote server!"
when i connect a remote mongo server i always got a error like (i connect by python is success):
[code]
and my code like this:

[code]

[2018-09-27 16:03] saghm commented on #279
This appears to be a duplicate of https://github.com/mongodb-labs/mongo-rust-driver-prototype/issues/230; we don't currently have support for authentication in the URI implemented

[2018-09-28 02:50] #279 closed

[2018-09-30 05:08] thedodd opened #281 "Please re-export bson lib."
It would be really awesome if this create would `pub use bson;` from the root of the library. Here is some reasoning as to why:
1. every time this library releases a new version (even patch versions) where the `bson` dependency changes, **everything breaks.** Users of this library must (currently) depend on the BSON crate (because you need to in order to use the mongo crate).
    - the best you ca

[2018-10-03 16:57] saghm commented on #281
I think this makes a lot of sense; there's no reason to force users to manually keep the version they import directly in sync with the version this crate uses.

@kyeah, are you okay with this change? If so, I'll make a PR doing it

[2018-10-04 01:11] kyeah commented on #281
+1, SGTM. Thanks for bringing up this issue @thedodd.

[2018-10-04 02:11] saghm commented on #281
Upon further inspection, this might not be possible right now; while it's possible to reexport all of the items in the `bson` crate, it isn't possible to reexport the macros in the crate. According to [this issue](https://github.com/rust-lang/rust/issues/51530), the only way that ever existed to do this was the nightly-only `macro_reexport`, which was recently removed. `pub use` is described as be

[2018-10-04 10:18] thedodd commented on #281
@saghm we may be able to with `pub use`. Some additional discussion here: https://users.rust-lang.org/t/solved-is-it-possible-to-reexport-a-proc-macro/16864/7

That link is entitled “proc-macro” but mentions macro_rules macros. Worth some experimentation.

[2018-10-14 05:01] thedodd opened #282 "IndexOptions.storage_engine appears to have an incorrect type."
Hey guys, I hope all is well.

I've been in the process of building [wither](https://github.com/thedodd/wither) version `0.6.0`, implementing a custom derive for creating models. [PR is here](https://github.com/thedodd/wither/pull/16) for reference.

During the process, I've written extensive tests for the index system. I've discovered that the [IndexOptions.storage_engine](https://docs.rs/mongodb

[2018-10-17 05:06] inv2004 commented on #277
Would you like me to do another test without allocation?

Regards,

[2018-10-25 20:53] richerarc commented on #267
Hi, I'm currently looking for a way of connecting to CosmosDB (MongoDB). It seems to connect but infinitely hangs. is there any update on this issue?

[2018-10-26 05:13] saghm commented on #281
Looks like Rust 1.30 (which was just released) adds the feature I mentioned, which obviates any need for a workaround: https://blog.rust-lang.org/2018/10/25/Rust-1.30.0.html

[2018-10-26 17:46] acmorrow commented on #267
@richerarc - CosmosDB is *not* MongoDB, so there is no expectation that our drivers will communicate with it at all, or work correctly if they do communicate.

[2018-10-30 02:42] johnkarasev opened #284 "no method named `collection` found for type `std::sync::Arc<mongodb::db::DatabaseInner>` in the current scope"
No connection method for type Database.
![untitled](https://user-images.githubusercontent.com/37842273/47692427-d2142f80-dbb2-11e8-8f75-911f4bb5cb0e.jpeg)

[2018-10-30 03:04] johnkarasev opened #285 "find is not working"
Hello the current find function is not working :

![notworking](https://user-images.githubusercontent.com/37842273/47693164-d130cd00-dbb5-11e8-8008-d36b34107a51.jpeg)
 Its giving me
13 |     match coll.find(Some(doc.clone()), None) {
   |                          ^^^^^^^^^^^ expected struct `bson::ordered::OrderedDocument`, found a different struct `bson::ordered::OrderedDocument`

which does not

[2018-10-30 03:31] thedodd commented on #285
Hey @johnkarasev, you should have a look at #281. That’s the problem (or part of it, at least).

Easiest way to fix:
- check the version of the bson crate that is required by the mongodb crate in your Cargo.lock.
- update your Cargo.toml to have an exact version requirement on the version of bson that you discover from the above step.

That should do the trick.

[2018-10-30 15:56] johnkarasev commented on #285
Thanks! that solved the issue.

[2018-10-30 15:56] #285 closed

[2018-10-30 15:57] johnkarasev commented on #284
Fixed by including Threaded Database
![threadeddb](https://user-images.githubusercontent.com/37842273/47731700-ddeb0a80-dc21-11e8-9427-76f78992c4dd.jpeg)

[2018-10-30 15:57] #284 closed

[2018-10-30 16:41] kyeah commented on #282
Thanks for the report and patience, @thedodd! Your assessment looks correct, this should be an optional document.

[2018-11-02 21:49] H2CO3 commented on #281
On a related note: can you guys in the meantime release a 0.3.11 version of this crate? That would be the one that already depends on bson 0.13, which fixes a serialization bug (which I've been blocked on for some time now).

[2018-11-07 15:40] dkoch144 opened #287 "Complex Queries"
Is there a way to use $exists $and $nin in docs? I have a query like this which works with mongodb from the command line

`db.MY_COLLECTION.find({ $and: [{ "configurations.nodes.children.operator": {$exists: false} }, {"configurations.nodes.operator": /OR/}, {"configurations.nodes.match.vflag": true }, { "configurations.nodes.match.v_flag": { $nin: [false] } } ]}).pretty()`

I tried this but rust

[2018-11-08 22:01] saghm commented on #287
You still need to wrap the keys in quotes, even if they begin with a `$`. In this case, you need to use `"$exists"` instead of just `$exists`, `"$nin"` instead of just `$nin`, and so forth. Not wrapping keys in quotes is a JS-specific thing; most other languages (including the macro that was written for this in Rust) still require them.

[2018-11-09 13:19] dkoch144 commented on #287
Thanks @saghm this worked perfectly, I had to substitute my regular expression as well for a quoted expression. Is there another way to do that if I had a complex regex I wanted to match on? Obviously in this example it's trivial and I'm not sure if I need to do it in other cases but just in case.

Thanks again!

[2018-11-09 16:49] saghm commented on #287
If you want to match a regex, you can use the [`$regex` query operation](https://docs.mongodb.com/manual/reference/operator/query/regex/).

[2018-11-09 20:41] thedodd opened #288 "Derive PartialEq on IndexOptions & implement a builder."
This is definitely an enhancement request. Looks like it may overlap a bit with #197. Main idea here is to get a builder in place for `IndexOptions` (but having builders for the other types would be super awesome as well, per #197).

Only other thing is to go ahead and derive `PartialEq` on `IndexOptions` and perhaps a few of the other types. This would be awesome for testing and such, especially

[2018-11-10 16:04] thedodd opened #289 "Driver is not allowing creation of a geoHaystack index."
Looks like the code here is not allowing for it: https://github.com/mongodb-labs/mongo-rust-driver-prototype/blob/master/src/coll/options.rs#L366-L377

GeoHaystack indices are described in the official MongoDB docs here: https://docs.mongodb.com/manual/core/geohaystack/

Should be a pretty simple fix.

[2018-11-12 09:40] H2CO3 commented on #281
Hey @saghm @kyeah could you please provide an update on this? :)

[2018-11-14 02:04] cubetastic33 opened #291 "Some connection URIs are not supported"
Connection URIs to MongoDB Atlas that start with `mongodb+srv://` don't work, and even with `mongodb://`, supplying connection options there in the URI doesn't to work. My connection URI looks like this: `mongodb://<USERNAME>:<PASSWORD>@<SECONDARY SERVER>,<PRIMARY SERVER>,<SECONDARY SERVER>/test?ssl=true&replicaSet=<SOME STUFF>&authSource=admin&retryWrites=true`. This doesn't work, and I was told

[2018-11-15 01:34] cubetastic33 commented on #291
Okay, but what is the `ca_file`? Where do I get that? Why do I need that?

[2018-11-15 01:52] cubetastic33 commented on #291
Also, what connection string should I use if it shouldn't have the username and password? Both the connection URIs provided in the Atlas interface have usernames and passwords in them...

[2018-11-15 02:16] saghm commented on #291
Apologies if I was unclear about the CA file; the Rust driver currently requires one, but Atlas expects the driver to just use the system CA. I've opened [this pull request](https://github.com/mongodb-labs/mongo-rust-driver-prototype/pull/292#pullrequestreview-175164993) to fix that bug in the API, and I'll follow-up here when it lands.

As for the authentication info, I believe that (once the afo

[2018-11-15 10:17] cubetastic33 commented on #291
So, atm, what's the workaround to these issues?

[2018-11-16 01:52] cubetastic33 commented on #291
I tried using a CA file and authenticating later - [here](https://paste.rs/jZj.rs) is my code, but it still doesn't work (same error)

[2018-11-16 01:59] saghm commented on #291
The CA file should be the path to the CA file, not the contents of it.

[2018-11-16 05:37] cubetastic33 commented on #291
@saghm I still get the same error...

[2018-11-16 11:57] goriunov opened #293 "Problems with Authentication"
Hi i am trying to connect to the Atlas MongoDB (using your latest changes branch with a way to do not pass CA)

Code example:
[code]

how ever i am always getting this error:
[code]

I have tried many different ways to change url and created different users a well how ever there is always two diffferent errors one is  `Authentication failed.` and sometimes i get `No servers available for the provi

[2018-11-16 17:16] saghm commented on #291
I just published version 0.3.12, which has support for using the system CA instead of specifying your own. Can you try that out and see if it works?

[2018-11-17 02:37] cubetastic33 commented on #291
@saghm Also, what all does the new version fix? Does it allow authentication from the connection URI?

[2018-11-17 02:46] cubetastic33 commented on #291
Yaaaaay! I managed to get it working now, but I had to authenticate on `client.db("auth")`, not `client.db("<my database name>")`. I got the idea when connecting using MongoDB Compass Community... Thanks a lot for your help!

[2018-11-19 15:34] max-frai commented on #293
I had same issue but with 0.3.12 everything works okay.

[2018-11-19 19:46] goriunov commented on #293
@max-frai how do u structure url and does it work on fee cluster?  I have spent lots of time and could not make it work.

[2018-11-22 10:51] HugoSanchez commented on #256
Hi,

I get:

`No method named 'auth' for found type 'std::sync::Arc::<mongodb::ClientInner>' in the current scope`.

I'm also not able to use '?' in the previous line were I connect 'with_uri'.

What am I missing here?

[2018-11-24 07:24] karasjoh000 opened #294 "how to work with update one"
Hello, I have three fields that either all, some or one of them can be updated. Idk know how to set it up in order to take this into account. Attached is what I have so far, but this does not work because need to have those $set keywords in there somewhere somehow.

![update_one](https://user-images.githubusercontent.com/21280439/48965693-ead7f100-ef76-11e8-9878-8e337f41a47e.jpeg)

[2018-11-25 06:41] thedodd commented on #294
@karasjoh000 you just need to insert a new document into your update document under the `”$set”` key. Then all of the fields which need to be conditionally updated should be put inside of the $set doc.

IMHO, it would be easiest to construct the $set doc first, and then once everything has been added to it, create the parent doc. That would allow you to build the update doc using the `doc!` macro

[2018-11-25 23:37] karasjoh000 commented on #294
When I do that, the other user is not updated a new one is created:
![update_one_dup](https://user-images.githubusercontent.com/21280439/48986295-fc7cde00-f0c7-11e8-9b9d-cbb5fc53ba67.jpeg)

[2018-11-25 23:50] karasjoh000 commented on #294
Ah ha! when inserting the hash, need to use `Bson::String(hash)` instead of just `hash`

[2018-11-25 23:52] karasjoh000 commented on #294
Working now, but that was weird the fact that it creates a new user when hash is not in the enum, is this a bug? should it spit out an error instead?

[2018-11-26 04:10] thedodd commented on #294
Sounds like an algorithmic issue. Please copy and paste the code as a formatted Rust code block instead of an image. The images are a bit hard to follow.

Also, if you don’t mind, perhaps you can include an overview of what the algorithm is supposed to be, that will make it easier to diagnose.

Sound good?

[2018-11-26 06:30] karasjoh000 commented on #294
finals comming up, I will be able to that in the next month...

[2018-11-26 06:39] karasjoh000 commented on #294
Here is the api endpoint that will call the update function upon request.
[code]

Here is the database function that will attempt to update user info.

[code]

In the `put_admin_user_update` function it checks some permissions what the user is trying to attempt and if he is allowed to do that then it calls the database function `update_user` to update the user. The database function searches if us

[2018-12-01 00:29] saghm commented on #291
Awesome! For future reference, "<my database name>" is just the name of the database the user is stored in.

[2018-12-01 00:29] #291 closed

[2018-12-03 03:13] codenoid commented on #294
idk, but thanks for `bson::Bson::I32()` syntax

[2018-12-03 07:33] karasjoh000 commented on #294
lol no problem. Here is the full list of the different types: https://docs.rs/bson/0.6.0/bson/enum.Bson.html

[2018-12-03 08:58] codenoid opened #295 "[ASK] get data from nested value"
hi, how to get data from nested document

document :

[code]
what i already try :

[code]

[2018-12-04 04:34] thedodd commented on #294
Hey @karasjoh000, so according to the code snippets above, have you resolved the original issue and now you are having a problem with the hash value being unexpected?

It looks like the issue you originally opened this ticket for is resolved and you are no longer having an issue with using `$set` and the code seems to be in order. Is my analysis correct?

[2018-12-04 04:37] karasjoh000 commented on #294
Yes the initial problem is solved. You can close it if you think its appropriate but yeah there is a wierd bug if str is just provided instead of Bson::String(str)

[2018-12-04 05:05] thedodd commented on #294
Cool. Glad to hear the first issue is resolved. As far as the string issue ... maybe you should close this issue and open a new one for the string issue specifically. That would def be easier to track. What exactly is the problem that you are seeing (would be good to add that info to the new issue)?

[2018-12-06 22:45] codenoid commented on #295
noted, i'll try it asap

[2018-12-13 16:07] thedodd commented on #246
Here is the spec on implementing this on the client side: https://github.com/mongodb/specifications/blob/master/source/change-streams/change-streams.rst

After giving it a read, it doesn't seem too crazy. I'll read through it again and break it down into a set of high level items which we could start implementing.

[2018-12-13 16:13] thedodd commented on #270
Looking through the official specs, looks like the [transactions spec is here](https://github.com/mongodb/specifications/blob/master/source/transactions/transactions.rst) and another pertinent spec which the transaction spec builds upon is the [sessions spec](https://github.com/mongodb/specifications/blob/master/source/sessions/driver-sessions.rst) which we will need to have in order first.

We've

[2018-12-13 16:16] inv2004 commented on #246
@thedodd
changes streams is already implemented and work fine in mongo-rust-driver-prototype, unfortunately it has not merged into master, because some test failed on windows platform, Im trying to find the root cause, but its another problem (not very major)

[2018-12-14 04:05] thedodd commented on #246
@inv2004 awesome! Glad to hear it. Do you have a PR for it somewhere? Or just a branch in your fork or something?

[2018-12-14 19:38] thedodd commented on #246
Np I'll take a look over there `:)`

[2019-01-03 17:16] mezeipetister opened #296 "Driver suggestion szingapúri"

[2019-01-03 17:18] mezeipetister opened #297 "Driver suggestions for rust project"
Hi Guys,

I will start an e-commerce project and we would like to use MongoDB and rust. Do you have any advice which driver should I start to use?

Thank you in advance,
Peter.

[2019-01-03 17:18] mezeipetister commented on #296
Sorry it’s a typo.

[2019-01-03 17:18] #296 closed

[2019-01-06 19:16] deltavin opened #298 "[Ask]: using $in doc!"
I am trying to use $in to find documents. In the following example, I'm trying to get documents where category is either "news" or "politics".

**Attempt 1: fails**
using a vector of categories:
[code]

This fails to compile, saying: the trait bound `mongodb::Bson: std::convert::From<std::vec::Vec<&str>>` is not satisfied

**Attempt 2: fails**
Instead of a vector, use an array:
[code]
This also fa

[2019-01-07 02:43] thedodd commented on #289
Unblocked by mongodb-labs/mongo-rust-driver-prototype#299

[2019-01-13 04:13] arpitsr commented on #293
Same issue here anyone has working version and example of mongodb atlas connection with rust driver

[2019-01-14 06:47] thedodd commented on #298
Hey, sorry for the super late response. I’ll take a look at this ASAP and see if we can get this resolved.

[2019-01-14 06:52] thedodd commented on #297
@mezeipetister sorry for the late response here. Yea, this driver will treat you pretty well. I would recommend it.

If you guys are into modeling your data, I would also recommend that you check out the [wither project](https://github.com/thedodd/wither) as well. It is built upon this driver and offers a lot of convenience and simplicity. You always have a handle to the underlying driver as well,

[2019-01-14 06:54] thedodd commented on #295
Hey @codenoid, just wanted to follow up here and see if you were able to get everything resolved. If so, mind closing the issue?

[2019-01-14 12:16] #295 closed

[2019-01-14 17:24] thedodd commented on #297
@mezeipetister keep me in the loop. If you have resolved your questions and such, mind closing this issue?

[2019-01-14 17:25] thedodd commented on #294
@karasjoh000 hey. Just wanted to follow up with you and see if everything has been working out. If so, mind closing this issue?

[2019-01-14 17:30] thedodd commented on #293
@goriunov also, just curious, it looks like the replicaset name specific in the example above is `replicaSet=Cluster-shard-0` ... are you sure that is correct and that it shouldn't be `cluster-shard-0` with lowercase? TBH, I'm not 100% sure that would make a difference, but often times it is the smallest of things.

[2019-01-14 17:32] max-frai commented on #293
@thedodd Hi!
I had simple hetzner server with one mongodb instance. So fallback to `0.3.10` helped me. But now I'll try again on the latest version

[2019-01-14 17:36] thedodd commented on #298
@deltavin hey, so based on your comments above, looks like **option 3** is working for you (seems pretty straightforward when you know the values ahead of time), and looks like based on your edit you were able to get it to work with Bson conversions for dynamic data.

Only thing I would suggest is that you may be able to perform the conversion a bit more easily. You can see from [the docs here](ht

[2019-01-14 17:36] thedodd commented on #298
Let me know if that helps. If so, mind closing this issue?

[2019-01-14 19:13] goriunov commented on #293
@thedodd i simply  created free Atlas Mongo account with all default settings and  added user then copied url from there (removing username and password from url and moving it to the auth method)

[2019-01-15 00:31] thedodd commented on #293
@goriunov ok! I’ll set one up and experiment.

Also, this may be related, I have observed that this client has issues with connecting to sharded clusters. I’ve haven’t looked into this yet, but I did open an issue for it a while back.

Do you know if the free atlas mongo is sharded or goes through a mongos???

[2019-01-15 00:48] deltavin commented on #298
Hi @thedodd
Feel free to close this. The bson trait trick will come handy.

Thanks for creating the driver.

[2019-01-15 02:06] thedodd commented on #298
So, I’m not actually a maintainer (yet), so I can’t close.

[2019-01-15 02:09] goriunov commented on #293
@thedodd if i remember correctly it is sharded.

[2019-01-16 00:33] karasjoh000 opened #300 "provide a prelude::*"
Can there be a `use MongoDB::prelude::*` because I have a lot of import statements from MongoDB it will be nice if I can import them all in one use statement.

[2019-01-17 21:13] univerz opened #301 "raw bson"
sometimes it's not possible (https://jira.mongodb.org/browse/SERVER-267) or practical (database load) to project only relevant fields (or if you want to just copy objects between servers). deserialization of bson is then the performance bottleneck.

it would be great if `Cursor` could yield `raw_bson` with behaviour like in c++ driver.

for my data, it's <10seconds vs 3minutes.

[2019-01-26 09:10] univerz commented on #301
yes, sorry for the confusion

for my current use case, collection level is sufficient. as i'm looking through the source code, this looks like a serious task as bson crate is used everywhere. please consider this only as an input for the future work if/when mongodb (company) decides to officially support this driver.

bson crate is nice and convenient, but maybe not a good default - even in ideal

[2019-02-07 18:05] jdemilledt commented on #253
Is there any progress on this issue? Tokio isn't currently updated for `futures` 0.3 AFAIK, but there is `romio`, which is based on Tokio, but with native futures.

[2019-02-11 16:34] CoderOffka opened #303 "How to close connection?"
How to close connection?
Java driver and others have a close method (client.close()).
I know that I can use pools, but after restarting the application, a new pool is created with new connections, and old connections are not closed.

Will Mongodb close connections automatically?
I waited 4 hours and mongodb did not close old connections

My solution is to set the maxIncomingConnections parameter t

[2019-02-11 19:01] CoderOffka commented on #303
Not. I was wrong. Connections are closed after closing the program.

[2019-02-11 19:01] #303 closed

[2019-03-14 20:10] #224 closed

[2019-03-14 20:10] #282 closed

[2019-03-14 20:10] #289 closed

[2019-03-19 15:55] athre0z commented on #277
I experienced similar issues on a Linux machine and a MongoDB instance running in Docker. Interestingly, it's completely fine when the MongoDB instance is hosted on a macOS machine (in Docker as well). This is ... really weird, since Docker for macOS is using a Linux VM under the hood. It also isn't using a lot of CPU, networking or IO ... it's just magically unusable slow.

[2019-03-19 16:19] inv2004 commented on #277
@athre0z
I see the problem on Linux and Windows without any dockers.
+1 - no CPU usage - just very slow performance.

[2019-03-19 16:50] athre0z commented on #277
After a bit of `strace`ing, I think figured it out. The driver fails to set the `TCP_NODELAY`, resulting in nagel's algorithm to be used, delaying any `recvfrom` call by about 40ms. I added a call to [`set_nodelay`](https://doc.rust-lang.org/1.29.0/std/net/struct.TcpStream.html#method.set_nodelay) into the driver and now your example executes in 70ms on my machine.

I'll do a little more testing a

[2019-03-19 17:04] mjjansen commented on #277
I had this problem with the pure Rust Mongo driver at the beginning of last year, but for some reason I did not have it here.  I'm sure that was the problem!

[2019-03-19 17:07] athre0z commented on #277
Alright, I dropped the PR. Let's see if we can get it merged. Development of this project seems to be a little frozen in the past months.

[2019-03-22 19:58] #277 closed

[2019-03-25 18:56] thedodd opened #306 "Create changelog and prep 0.4 release."
Add this here per our discussion in #299. It has been on my shortlist, but I don't want to forget.

[2019-03-26 14:12] jjgumucio commented on #279
Hi there!

Is the authentication in the URI implemented now?

Im doing some test and, when I connect using `Client::with_uri()` with a connection string like `mongodb://<user>:<password>@<host>/test?retryWrites=true`, the `ConnectionString` detects the `username` and `password` automatically.

Do I still need to do "manual" authentication?

When I try to read from a DB, I get the `Err(OperationErr

[2019-03-28 15:04] nkostoulas opened #307 "Authentication succeeds while it shouldn't"
I'm using something like this:
[code]

No error is reported, while when I run the same on command line it fails with "login failed". That's because this database has no authentication.

Is this normal or should I use some different method to capture the connect error?

[2019-03-30 16:30] balthild opened #308 "Load all documents at once instead of getting a cursor"
I have plenty of documents in my collection. Each query would find some of them, of which counts varying from 0 to thousands. If I iterate over cursors, there will be about 1s of latency if about 2000 documents were found, while loading them at once in `mongo` client with `.toArray()` completes almost immediately.

I can set `batch_size` option to a large number, says 2000, to force the cursor to

[2019-04-02 20:29] saghm commented on #308
Hi @balthild! Cursors are the only thing that the MongoDB server will ever return from a query. Under the hood, any eager implementation in another driver would have to do one of the two thing you mentioned, i.e. either specifying a large enough batch size to get all of the results in the first batch or manually issue `getMore` commands to the server to obtain subsequent batches. Realistically, if

[2019-04-03 05:18] balthild commented on #308
Alright, thanks!

[2019-04-03 05:18] #308 closed

[2019-04-04 17:03] awestlake87 opened #309 "Duplicate Key error not detected"
# Background
At the moment I'm using this library with MongoDB 4.0.8.

In my database, I have a "users" collection where the "username" field is a unique index". I've added this initialization script in order to create the unique index:

[code]

# Expected behavior
In mongo-express, when I attempt to add a new user with a duplicate username to the collection, it behaves as expected and gives me a

[2019-04-04 22:12] saghm commented on #309
Hi! Can you post an example of the code you're running in the library that's causing this issue? Additionally, if you're creating the index through the shell and not the driver, can you provide which database you're creating the users in along with that code?

[2019-04-08 22:26] awestlake87 commented on #309
Here's the example code for inserting a user. I'm using r2d2_mongodb to manage my database connections.

[code]

I'm not creating the index through the driver. Instead, I'm using the mongo docker image with an initialization script:

Dockerfile:
[code]

Init script:
[code]

[2019-04-09 00:45] saghm commented on #309
The code you shared using r2d2 doesn't show which database you're using, but the initialization script seems to be using the shell's default database (i.e. `test`). I suspect that the issue is due to the code using a different database where the user hasn't already been created.

[2019-04-09 00:51] saghm commented on #309
It looks like r2d2-mongodb [defaults to using `admin`](https://gitlab.com/petoknm/r2d2-mongodb/blob/master/src/lib.rs#L132), which would explain the issue. You can change the database that the initialization script creates the user in by prepending the line `use admin` to your script, or you can change the database that your connection pool uses by default with [this method](https://docs.rs/r2d2-m

[2019-04-09 03:34] awestlake87 commented on #309
Thanks for responding so quickly! I appreciate the help with this problem.

I don't know if r2d2's defaults are the problem here, though. I should have included the creation of the r2d2 connection pool, because I was overriding the default admin database. I went back and verified that the documents were not being inserted into the admin database.

Here's a full example that I've tested with a fres

[2019-04-09 04:34] saghm commented on #309
Thanks for the self-contained example here! This makes it much clearer for me.

This seems to be the same issue as https://github.com/mongodb-labs/mongo-rust-driver-prototype/issues/244; if the call to `insert_one` is changed to the following, then it shows the error in the `write_exception` field:

[code]

Output:
[code]

[2019-04-09 05:19] awestlake87 commented on #309
Awesome, the write_exception was exactly what I needed. I should have dug into the docs a bit more. Thanks for your help!

Should we leave this issue open or close it in favor of #244?

[2019-04-09 21:25] saghm commented on #309
No worries! At the very least, I think that we should document this method (and any others where this can occur) that write errors will not cause an `Err` variant to be returned.

[2019-04-11 02:23] jjgumucio commented on #297
@thedodd Could you provide an example for DB authentication please?

I've tried to use db.auth() but I get this error:
`Could not authenticate to DB: OperationError("No servers available for the provided ReadPreference.")`

Any help would be appreciated!

[2019-04-11 02:26] jjgumucio commented on #293
Any update on this issue? I'm having the same problem...

[2019-04-11 14:55] thedodd commented on #297
@jjgumucio normally I would just construct a [valid MongoDB URL](https://docs.mongodb.com/manual/reference/connection-string/) which includes the credentials you are using. I've had good success with that in the past. You will just want to ensure that the credentials you present are valid for the DB you are connecting to.

[2019-04-11 20:36] thedodd commented on #293
Unfortunately not yet. This driver has some issues with connecting to sharded clusters, I've run into the issue as well. I hope I'll be able to get some time to hack on it, but I just recently started a new gig, so I don't want to make any promises.

[2019-04-12 19:50] jjgumucio commented on #279
@saghm Hey there!
Any updates on this?

Any help would be really appreciated

[2019-04-14 21:18] Paul-E opened #311 "Large writes fail with broken pipe error"
Writing large data structures to the database will cause the write to fail with a `IoError(Os { code: 32, kind: BrokenPipe, message: "Broken pipe" })` error. The server will see something along the lines in the log:

    2019-04-14T17:12:16.317-0400 I NETWORK  [conn11] recv(): message msgLen 156903002 is invalid. Min 16 Max: 48000000
    2019-04-14T17:12:16.317-0400 I NETWORK  [conn11] Error recei

[2019-04-18 16:33] thedodd opened #312 "Cursor getMore OperationErrors not handled properly."
When the cursor is extracting the BSON & CID from a message, it does not appear to be handling certain error conditions properly.

The code here https://github.com/mongodb-labs/mongo-rust-driver-prototype/blob/master/src/cursor.rs#L144 is looking for errors under a key `"errmsg"`; however, it looks like certain errors will return the error under the key `"$err"`, such as when the collection was dr

[2019-04-18 16:34] thedodd commented on #312
I seems like a dead simple fix, and I am happy to open the PR for this; however, I'm not sure how often the errors will be under the `errmsg` key vs the `$err` key. Probably just a version issue. We can handle both. Let me know.

[2019-04-18 16:40] saghm commented on #312
When we first wrote this driver, 3.0 was the newest version of the server that existed, so it's possible that this is something that changed in 3.2 that we never updated the driver to handle. The code path will only be executed if an error code is present in the command response, so I think it should be safe to just check for both fields and return whichever one is found.

[2019-04-19 00:34] saghm commented on #279
Hi @jjgumucio! URI authentication is still not implemented. Do you mind filing another issue for the issues you're having with the lazy authentication since this one is already closed? When you do that, if you could also provide the version of the database you're using, the type of cluster (standalone, replica set, or sharded cluster), and the authentication mechanism you're trying to use?

[2019-04-29 14:46] jjgumucio commented on #307
If the database does not need authentication then omit the `user:pass@` part of the connection url and try.

Hope it helps

[2019-04-29 14:50] nkostoulas commented on #307
That's a hack not a solution.

[2019-04-29 15:34] jjgumucio opened #313 "No servers available for the provided ReadPreference, yet again"
As @saghm asked me to do in #279 , I'm creating a new issue to discuss the problem of getting an authenticated connection to a remote MongoDB service.

The MongoDB service I'm trying to connect to is a MongoDB Atlas.
The cluster has this characteristics:

- **Instance size:** M0 Sandbox (General)
- **Type:** Replica Set - 3 nodes
- **MongoDB version**: 4.0.9

The authentication mechanism used is t

[2019-04-29 21:43] saghm commented on #313
Hi @jjgumucio! Thanks for bearing with me with regards to opening a new issue for this.

One thing that sticks out at me is that you're prefixing `"mongodb://"` in front of your host when calling `Client::connect`. This method is used only for connections where you don't need any custom configuration and just want to pass a hostname and port. I'd expect it to work if you used `with_uri` though, so

[2019-04-29 21:58] saghm commented on #307
The driver currently doesn't support specifying authentication credentials in the URI. The only way to authenticate that's currently implemented is using `Database::auth` after creating the client.

[2019-04-30 08:59] nkostoulas commented on #307
Ah cool!

[2019-05-06 18:34] jjgumucio commented on #313
Thanks for the insights @saghm!
I will try the ssl connection option and removing the `mongodb://` protocol specification.

I will come back with any progress or new info I get.

Thanks again!

[2019-05-14 15:38] nkostoulas commented on #307
I guess this means if it were to lose connectivity then I would need to do authentication again?

Also for reconnect interval and tries, are the default values used? I've noticed reconnect works but could not find any config for it.

[2019-05-14 17:38] saghm commented on #307
Yes; authentication is done on a per-connection basis, so if you had to close and reopen a connection, you'd need to auth again. For context, modern MongoDB drivers now deprecate lazy authentication for reasons like this and prefer eager authentication, but this hasn't been implemented yet for this driver.

Can you clarify what you mean by "reconnect interval and tries"? The driver mechanism that

[2019-05-14 19:19] nkostoulas commented on #307
I was talking more about the case where there is a connectivity error and when the client reconnects it needs to do auth again. Being unaware whether that happened means that before each db call this auth will need to be applied. I guess this is resolved with different auth types.

I meant reconnectInterval and reconnectTries which I’ve seen in the node mongo driver. Are these driver specific?

[2019-05-14 19:59] saghm commented on #307
At least as far as I'm aware, those are specific to the Node driver. From a quick grep, they aren't mentioned at all in the [specifications](https://github.com/mongodb/specifications), and I wasn't previously aware of them. I'll check with some of the people who work on that driver to learn more about what they do so I figure out what the equivalent Rust behavior is.

[2019-05-15 09:58] nkostoulas commented on #307
Ah right. Thanks!

[2019-05-16 13:48] nkostoulas opened #314 "Serialize struct with u32 field"
I've been trying to use from_bson() / to_bson() with a struct that has a u32/usize/u64 field but I've been getting the following error:

``` `Result::unwrap()` on an `Err` value: UnsupportedUnsignedType', ```

Seems to be a bson-rs issue that is resolved by using the following feature

```         if cfg!(feature = "u2i") ```

This doesn't seem to be a part of this library though. Is there a way a

[2019-05-16 23:17] saghm commented on #314
Hello! I'm not quite sure what you mean by the fix "not being a part of this library". The driver doesn't actually define any of the BSON functionality, so you'll need to add that as a dependency on your own, and you can specify the `u2i` feature when you do that.

If you're having issues specifically with the BSON library, would you mind filing an issue with [that repository](https://github.com/z

[2019-05-17 09:53] nkostoulas commented on #307
Sorry for the question which might not be exactly fit for this issue but I was wondering if you could share some feedback.

I've been sharing the same db connection between two threads, which is fine since it's thread safe. I'm using basic auth though and the only way to make sure this retains is to do db.auth() before each call to the database. It appears though that if both threads try to do thi

[2019-05-17 09:59] nkostoulas commented on #314
Methods `to_bson(), from_bson()` are part of this library though so I was asking if you're aware of this issue. It seems not possible to serialise unsigned numbers at the moment. I only ended up checking the bson library because searching for this error online seemed to be part of that codebase.

[2019-05-17 15:53] saghm commented on #314
Those functions are re-exported from the BSON dependency for convenience. I don't think there's a way to optionally include features in the dependency based on whether a feature exists in the library itself, so unfortunately you'll have to manually add the `bson` crate with that feature as a dependency if you want to use that functionality.

[2019-05-17 16:06] nkostoulas commented on #314
Ok makes sense thanks!

[2019-05-17 18:05] saghm commented on #314
Glad to help!

[2019-05-24 17:48] #314 closed

[2019-05-24 17:52] saghm commented on #307
Hello again! With regards to `reconnectInterval` and `reconnectTries`, the Node driver team informed me that those are legacy options from before the Node driver was updated to more fully comply with the specs, so they aren't anything that other drivers will implement.

Unfortunately there isn't any existing API in the driver that lets you determine if you're already authenticated or not. As a wor

[2019-05-26 20:03] Zauberklavier commented on #313
Are there any updates on this? I'm also getting this error only that mine occurs after around 20h of uptime from within R2d2. I do not call `db.auth()` or run with SSL. I don't have anything specific yet, will try to debug it next week or so.

[2019-05-26 20:25] saghm commented on #313
If you're not using auth or running against Atlas, my guess is that the issue you're having is not caused by the same thing (unless it's due to putting `mongodb://` in front of the host without using `with_uri`.

As for `r2d2`, are you using `r2d2-mongodb`? We don't use r2d2 in this crate currently, and we aren't affiliated at all with the `r2d2-mongodb` crate.

[2019-05-26 20:31] Zauberklavier commented on #313
I'm not putting `mongodb://` in the host address or using `r2d2-mongodb`. The `r2d2` implementation I have is a very basic one so I don't think it's `r2d2` related. I was wondering if there was a known bug that might have caused this with Mongo 4. I'll keep you updated.

[2019-05-27 20:19] nkostoulas commented on #307
ok thanks. that's what I've ended up doing and also wrapping the Database instance with a Mutex as authenticated calls seem not thread safe.

[2019-07-01 11:41] pimeys commented on #253
Tokio master is moving to futures 0.3 currently. `std::future` will be stable in Rust 1.36.0 and async/await in 1.38.0.

Is there already some work done for async transport? It should be quite easy to just use futures 0.1 now and convert to futures 0.3 when they stabilize.

[2019-07-07 03:15] stivenson commented on #285
Gracias, funcionó.

[2019-07-09 10:25] phantomxe opened #317 "problem on DateTime<Utc> type"
hi, i'm trying to developing an api with rust + rocket + mongodb. When i insert a document with struct serialized typed datetime, it's saved on db with string type. But when i insert with doc! macro, it's saved on isodate which as it should be.
[code]

But when i get a document from db and deserialize it, i got "a formatted date and time string or a unix timestamp" error. How can i solve it?

[2019-07-09 15:28] saghm commented on #317
Hi! The `doc` macro and all of the serialization/deserialization logic are actually implemented in the [`bson` crate](https://github.com/zonyitoo/bson-rs/). Could you file a ticket there? Apologies for the inconvenience; the owner of the `bson` crate isn't actually a contributor to this project, and I'm not actually an official contributor to the `bson` crate, so I want to make sure that the corre

[2019-07-10 14:51] phantomxe opened #318 "Old FindOneAndUpdate struct"
https://github.com/mongodb-labs/mongo-rust-driver-prototype/blob/51154fe609a09a6a5057c94ccd164ab395159431/src/coll/options.rs#L255

https://docs.mongodb.com/manual/reference/method/db.collection.findOneAndUpdate/#db.collection.findOneAndUpdate
Mongo has a new type "arrayFilters". Could you update the struct?

[2019-07-18 14:20] davyzhang commented on #313
I think a workable example with connection to atlas including write and read would be extremely helpful.

[2019-07-18 15:43] davyzhang commented on #313
@jjgumucio please check your cargo.toml has this line

mongodb = {version="0.3.12",features = ["ssl"]}

here is the reference :https://medium.com/@shnarazk/connecting-mongodb-atlas-from-rust-programs-65e4cbcbd964

[2019-07-19 10:28] #317 closed

[2019-07-23 00:15] jcdyer commented on #300
I was thinking about this today while using this library.  I'm not sure the prelude should be too extensive, but a few judicious re-exports could help the ergonomics quite a bit.  In particular, importing the `ThreadedClient` and `ThreadedDatabase` traits when doing basic querying is a non-obvious thing that could be quite confusing to new users, especially if they don't have extensive rust experi

[2019-07-23 19:11] jjgumucio commented on #313
@davyzhang Thanks for the tip man!

Will check later and come back with the news

[2019-07-24 00:25] jjgumucio commented on #313
Ok, did the test again and had the  `{version="0.3.12",features = ["ssl"]}` added to my .toml file and I get the same error.

I think It can be something about MongoDB Atlas?

Thanks for all the input

[2019-07-25 07:33] davyzhang commented on #313
I actually wraped all the connection code to a function which is used to unify the local and altas connection method. This setup works fine the the default settings of atlas free tier replica.

[code]

[2019-07-25 15:49] jjgumucio commented on #313
Thanks again @davyzhang!

I tried running your function like this:

`  let db_url = "mongodb://development-tvmgi.mongodb.net/test?retryWrites=true";
    let mongo_client = new_mongo_conn(db_url, "<DB-USER>", "<DB-PASSWORD");
`

And using the full database url including the user and password:

`  let db_url = "mongodb://<DB-USER>:<DB-PASSWORD>@development-tvmgi.mongodb.net/test?retryWrites=true";

[2019-07-26 00:18] davyzhang commented on #313
Firstly, your connection string is not in an atlas replica form, you can find it under altas connection section.
Notice: you should use the old format which marked as 3.4 or earlier.

![image](https://user-images.githubusercontent.com/576863/61916936-d9256e00-af89-11e9-920f-fb994a20fcba.png)

looks like
[code]

Secondly, please try to change the db "test" to your real db name like "admin" or some

[2019-07-26 13:46] jjgumucio commented on #313
@davyzhang MY MAN!

That worked! Thank you very MUCH sir!
I can continue the project now...

[2019-07-26 13:46] #313 closed

[2019-07-30 01:24] davyzhang opened #320 "How to set slaveOk with atlas replica set?"
When use secondary preferred option with atlas replica, atlas will refuse to run.
[code]
 with read option
[code]
and query collection get error
[code]

if I remove the opt.read_preference, works fine

[2019-07-30 21:43] tony-cox commented on #291
Without this discussion, I doubt I would have worked out how to connect to Atlas.  I've added the following summary.  Is there any way we can either get this up on the docs for the crate or better yet have Atlas themselves give a connection string and example for Rust?  I gather the latter is unlikely while this is an unsupported driver, but it would be nice.

- Use the old C driver connection str

[2019-08-01 00:09] davyzhang opened #321 "Is there any way to reconnect the db again?"
I've discovered this issue after my program had run for 2 days. It was used to some repetitive reading and updating work every minute. I only connected to mongodb once when the program started.

The connections stopped working and reported error:
```OperationError("user is not allowed to do action [find] on [<db>.<collection>]")```

It's kind of ridiculous because it works fine for at least 24 hou

[2019-08-07 00:52] davyzhang commented on #321
I've wrapped my client and force it to reconnect by replacing it with a new instance every 24 hours. This method does well in the first couple of days, but today, I find the same error as before. So I guess I should stay with short-term connections. Currently, there's no way to detect long term connection is ok or not.

[2019-08-08 06:18] davyzhang commented on #321
The short-term connections are leaking. As described here in #247.

[2019-08-19 08:56] moh-abk opened #323 "Schema validation"
Does this driver support Schema Validation as described in this article?
https://docs.mongodb.com/manual/core/schema-validation/

I'm unable to find any reference on it for `mongodb::coll::Collection`

[2019-09-06 15:27] nylar commented on #306
@thedodd Any movement on a 0.4 release? It would be nice to have #305 in a released version

[2019-09-09 16:36] thedodd commented on #306
Hey @nylar, my plan is to let @saghm or @kyeah handle that actually. I don't have permissions to actually do any releasing on this crate or anything. Hopefully it gets some movement soon though.

[2019-09-09 17:45] saghm commented on #306
Sorry about the delay! I'll work on getting this done

[2019-09-09 18:37] saghm commented on #306
Just pushed out v0.4.0! FYI, this will likely be the last minor version bump of this driver that we do; my team at MongoDB and I have been hard at work for a few months now on an alpha release of an officially supported Rust driver, so we plan on focusing our efforts there moving forward

[2019-09-10 15:18] #306 closed

[2019-09-11 05:30] nico-abram commented on #247
Is this still a thing? Is the explanation still accurate?

[2019-09-11 14:19] armizimm commented on #234
hi everyone,
i'm try this, but i'm get a error when i try convert vector:

      let vec1 = vec!( "a","b","c");
      let doc = doc!{ "vector" : (&vec1) };
----------------------------------------------------------
let doc = doc!{ "vector" : (&vec1) };
   |                 ^^^^^^^^^^^^^^^^^^^^^^^^^^ the trait `std::convert::From<&std::vec::Vec<&str>>` is not implemented for `mongodb::Bson`

[2019-09-17 17:27] hprateek43 opened #325 "Example in README is not working"
The default example mentioned in the README no longer works.

Rust and Cargo Settings:

**rustup show**
Default host: x86_64-apple-darwin
rustup home:  /Users/harshsingh/.rustup

stable-x86_64-apple-darwin (default)
rustc 1.37.0 (eae3437df 2019-08-13)

**cargo -V**
cargo 1.37.0 (9edd08916 2019-08-02)

**cargo.toml**

[dependencies]
actix-web = "1.0.7"
bson = "0.1.3"
mongodb = "0.1.0"
log = "0.4.8"

[2019-09-18 09:33] hprateek43 commented on #325
I seemed to have it working

**cargo.toml**
[dependencies]
actix-web = "1.0.7"
bson = "0.3.2"
mongodb = "0.1.0"
log = "0.4.8"
env_logger = "0.6.2"
log4rs = "0.8.3"

**import libraries**
extern crate mongodb;
use mongodb::{Client, ThreadedClient,CommandResult};
use mongodb::db::ThreadedDatabase;
use bson::Bson;

**connection method**
fn update_mongo_db() {
    let mut client = Client::connect("loca

[2019-09-18 09:36] #325 closed

[2019-09-24 18:26] Frederick888 opened #327 "Authentication failure when using with actix-web"
Hi,

I tried to use this library with `actix-web` but I've got some troubles with authentication. I suspect that it's somehow related to the connection pool since it was alright if when I tested with curl, however the moment I fire up a wrk, even with some modest settings, it starts to throw numerous authentication errors.

I've pushed an example to https://github.com/Frederick888/actix-mongodb. T

[2019-09-27 14:14] jcdyer commented on #301
As a step toward this I've created #328, which removes all reference to the Bson type from the wire_protocol, without affecting any public interfaces outside that module.  A next step might involve creating a way to feed raw bson bytes to and from methods on Collections directly.  I'll give some thought as to what that should look like and put together a proposal or a PR for further discussion.

[2019-09-27 14:26] jcdyer commented on #298
@deltavin I've recently updated the `bson` crate to accept a broader range of From<> implementations in https://github.com/zonyitoo/bson-rs/pull/130.  I don't think that PR was done in time to be included in bson v.0.14, though.  You can try it out by declaring the latest commit as an override in your Cargo.toml:

[code]

Please see if that meets your needs.

[2019-09-27 14:27] jcdyer commented on #298
@saghm @kyeah This issue can be closed.

[2019-09-27 17:49] #298 closed

[2019-09-28 13:37] jcdyer commented on #294
@saghm @kyeah this issue can also be closed, per the above conversation.

[2019-09-28 19:29] #294 closed

[2019-10-07 09:08] wysman commented on #253
Any updates ?

[2019-10-15 08:11] leoaion opened #332 "Does auth() actually works on Mongo 4.2.0?"
Mongo DB version: 4.2.0

    let db = client.db("dbname");
    match db.auth("username", "password") {
        Ok(_) => println!("auth success"),
        Err(_) => println!("auth fail");
    }
    db.collection("table").aggregate(...

"auth success" is printed, but still reports "command aggregate requires authentication..."

same code works on mongodb 3.6.3, but fails on 4.2.0. why?

[2019-10-24 23:13] inv2004 opened #333 "Performance is still bad #2"
Please find initial problem and code here https://github.com/mongodb-labs/mongo-rust-driver-prototype/issues/277

I just decided to check the crate performance one more time: situation is much better than here https://github.com/mongodb-labs/mongo-rust-driver-prototype/issues/277, **but still significantly slower than in mongo_driver**.

mongo_driver: avg run: 217ms
code: https://gist.github.com/i

[2019-10-27 20:47] saghm commented on #333
Hi @inv2004! It's been noted a couple places in other issues/PRs (although not officially announced yet), but my team at MongoDB and I have been working on a new Rust driver that will officially supported! We expect to have an alpha out sometime in the not-too-distant future, so there will not likely be any more releases for this specific project (i.e. the prototype). Once we have an alpha availab

[2019-10-31 21:06] anthonyjchriste opened #334 "AWS DocumentDB compatibility"
Hello,

We've recently migrated from a self hosted MongoDB server to AWS DocumentDB (which is MongoDB 3.6 compatible). I can connect to the cluster on AWS DocumentDB, but every time I try to perform any query, I get the following error:

Do you know of any workarounds? If not, where would I begin to look to implement a PR?

Thank you for your time.

[2019-11-01 00:00] saghm commented on #334
Hello! I don't know of any workarounds for getting DocumentDB to support legacy opcodes. For context, MongoDB 3.6 added a new wire protocol opcode called OP_MSG type for communication between the drivers and the server, but newer versions of the server still support legacy opcodes; I suspect that DocumentDB only supports OP_MSG, while this driver only supports the former.

[2019-11-01 00:13] anthonyjchriste commented on #334
Thank you for the response! I suspected it was something along those lines. I was able to find more information about the OP_MSG protocol here: https://github.com/mongodb/specifications/blob/master/source/message/OP_MSG.rst

It looks like quite the undertaking, but I have a vested interest in accessing DocumentDB from AWS. Is this project open to PRs if I were to look into implementing the OP_MSG

[2019-11-02 03:10] saghm commented on #334
We actually aren't planning on doing any more releases of this driver; my team and I at MongoDB have been working on writing an official Rust driver for MongoDB, and we're planning on releasing an alpha in the near future. Similar to the other official MongoDB drivers, we don't do any testing against DocumentDB, and DocumentDB is not officially supported by our drivers, but the new driver will hav

[2019-11-02 03:19] armersong opened #335 "ClientInner never release"
There is a recursive reference issue with its field `topology.description.servers`. When creating multi ClientInner instance ,  lots of connection and thread can't be release.
Recursive reference code:
[code]

[2019-11-03 18:50] punkdata commented on #293
Any update on this issue?

[2019-11-04 18:15] anthonyjchriste commented on #334
That's great news! I look forward to testing the alpha-release of the official mongo driver for rust.

[2019-11-04 18:15] #334 closed

[2019-11-04 22:22] inv2004 commented on #333
@saghm
It would be interesting to know mode details about your plans:
Are you going to make rust-only version of the driver or you want to make c-bindings?

Regards,
  Alexander.

[2019-11-05 02:52] saghm commented on #333
The new driver will still be pure Rust; it won't wrap the C driver

[2019-11-06 03:10] brunobell commented on #333
So happy to know that this pure rust mongodb driver will have new releases.
Please let us know when it's out, thanks. @saghm

[2019-11-11 12:44] nkostoulas opened #336 "Document from HashMap"
Is this possible? I haven't managed to find anything in the docs.

[2019-11-11 17:02] saghm commented on #336
This is more of the domain of [the BSON library](https://github.com/zonyitoo/bson-rs/) than the driver, but I can give you a brief overview.

In the simplest case, if you have a `HashMap<String, Bson>`, you can just convert it directly to a document through the iterator API (`hash_map.into_iter().collect()`) because `Document` implements `FromIterator<(String, Bson)>` and `HashMap<K, V>` implement

[2019-11-13 10:44] nkostoulas commented on #336
Went with that thanks 👍

[2019-11-13 10:44] #336 closed

[2019-11-13 19:14] richerarc commented on #335
Hi @armersong, We found this leak a while ago and I fixed it in our [fork of this repo](https://github.com/Devolutions/mongo-rust-driver-prototype). I've made a PR but no ones is merging it. fell free to use our repo instead in your cargo.toml file

[2019-11-13 19:33] awakecoding opened #337 "Project Status"
I would like to inquire about the mongo Rust driver project status, as it appears that development has stalled for some time, with multiple pull requests waiting to be merged.

We have a pull request opened since March to address a serious issue that we found in production on our side: https://github.com/mongodb-labs/mongo-rust-driver-prototype/pull/304

Somebody else apparently identified the sam

[2019-11-13 19:53] saghm commented on #337
Hello @awakecoding! Yes, we have been developing a new driver that will have official status, but I'm not able to give an exact timeline for when it will be released yet. I think it's worth keeping in mind that this driver has been marked as a prototype that shouldn't be used in production since it's initial release, and that has never changed. That being said, I totally understand your frustratio

[2019-11-14 00:28] armersong commented on #335
ok。thanks

[2019-11-14 16:19] awakecoding commented on #337
Hi @saghm, thanks for your reply. I understand that this prototype wasn't meant for production usage, but my understanding is that a lot of people are fine with a no-warranty, community-supported driver as long as they can contributes fixes to it. Since this driver is by far the most advanced, it is likely used by a lot of people, which means probably in production as well.

The major issue that w

[2019-11-16 17:52] moh-abk commented on #337
@saghm can you at least provide a timeframe for the alpha release? Late 2019? First quarter 2020?

[2019-11-17 09:15] rumanbsl commented on #253
Now that Async is stable, is there any plan/roadmap to  support async operations

[2019-11-18 17:03] saghm commented on #337
We expect to release within the next couple months, but potentially a lot sooner than that

[2019-11-19 10:39] Igosuki commented on #337
Cargo makes it easy enough to build your own version of the repo. I know this can feel risky, but the codebase is small enough.

[2019-11-20 22:35] awakecoding commented on #337
Just a quick update on our status and intentions:

1) We found and fixed the ~2MB/hour memory leak (https://github.com/Devolutions/mongo-rust-driver-prototype/pull/1). Our microservices had to reboot every week or so because of that.
2) We are actively working on getting replica sets supported in the current driver, allowing us to move our single instance database to something much better like Mon

[2019-11-28 02:28] Bajix commented on #337
@saghm I take it part of the wait for this was for the release of async await in stable? The new version is going to be feature complete and work with 4.2?

Just out of curiosity, but has the MongoDB team looked into using Rust for any parts of the DB?

[2019-11-28 23:43] saghm commented on #337
Not exactly; the initial release of the driver will be synchronous because that's all that was available when we started working on it. That being said, one of the reasons it took so long was that we spent a lot of time making sure the driver is architecture in a way that will support all the features we need going forward (both MongoDB features like sessions and retryable reads/writes and Rust fe

[2019-12-04 15:57] jcdyer commented on #333
@inv2004 and others: If you need better performance now, you can check out #326.  I've also got a branch of bson-rs where I'm implementing a zero-copy RawBson format that would eliminate the need to pre-parse the bson into a tree structure before extracting data or deserializing to other formats, but 1. The branch doesn't implement deserialization for all field types yet (hopefully by end of year)

[2019-12-04 15:58] jcdyer commented on #333
@saghm If you're looking for contributors to help with the new driver, I'd love to help out.

[2019-12-04 16:17] jcdyer commented on #256
Sorry this is a year late, but for posterity, auth is on the db object.  So try:

[code]
You can only use `?` in functions that return `Result<T, E>`.  If you are in a function that returns something else, you'll need to handle the error yourself.  The most flexible way is:

[code]
If all you want to do is exit the program when something fails, you can do:

[code]

[2019-12-04 20:47] Bajix commented on #337
I think you should consider abandoning the idea of ever releasing a sync version in the first place, and instead go the route of building towards a feature-complete async-only API as the initial release. This will greatly simplify documentation and maintenance for one, as well as prevent refactoring pains later. You're in a fairly great position to make dramatic breaking changes right now before t

[2019-12-04 21:02] saghm commented on #337
Thanks for the feedback! We're close enough to the initial release of the driver that skipping an initial sync release won't really change the timeline at all; either we do a sync release really soon and follow up some time later with async support, or we don't release anything now and the same amount of time later we release an async driver.

Not having any sort of synchronous API also isn't real

[2019-12-04 22:13] Bajix commented on #337
Ah; so long as the driver internals are 100% async that'll make it far easier to support both async and sync. The question though is then why not release both the async and sync API's at the same time? At that point you've already created an async API and the sync API is just the async API wrapped with a runtime helper function to block on a future.

That approach to separating them sounds good; t

[2019-12-05 00:52] saghm commented on #337
We don't currently have the async version implemented, but we do have everything we want besides a couple of small things to make it easier for users to connect to Atlas (a common pain point with the prototype) already implemented synchronously, which is why we're going to release that first. The very first thing we'll work on after the initial release is updating everything to be async, but there

[2019-12-19 15:30] saghm commented on #337
Hello everyone! We've just released the alpha of [the official MongoDB Rust driver](https://github.com/mongodb/mongo-rust-driver); you can read about it [here](https://blog.mongodb.com/blog/post/announcing-the-official-mongodb-rust-driver)! Because of this, we won't be updating this driver anymore, and the repository will be made read-only as soon as I get finished posting these messages. Thanks f

[2019-12-19 15:31] #337 closed

[2019-12-19 15:31] saghm commented on #256
Hello everyone! We've just released an alpha of [an official MongoDB Rust driver](https://github.com/mongodb/mongo-rust-driver); you can read about it [here](https://blog.mongodb.com/blog/post/announcing-the-official-mongodb-rust-driver)! Because of this, we won't be updating this driver anymore, and the repository will be made read-only as soon as I get finished posting these messages. Thanks for

[2019-12-19 15:31] #256 closed

[2019-12-19 15:31] saghm commented on #333
Hello everyone! We've just released an alpha of [an official MongoDB Rust driver](https://github.com/mongodb/mongo-rust-driver); you can read about it [here](https://blog.mongodb.com/blog/post/announcing-the-official-mongodb-rust-driver)! Because of this, we won't be updating this driver anymore, and the repository will be made read-only as soon as I get finished posting these messages. Thanks for

[2019-12-19 15:31] #333 closed

[2019-12-19 15:31] saghm commented on #253
Hello everyone! We've just released an alpha of [an official MongoDB Rust driver](https://github.com/mongodb/mongo-rust-driver); you can read about it [here](https://blog.mongodb.com/blog/post/announcing-the-official-mongodb-rust-driver)! Because of this, we won't be updating this driver anymore, and the repository will be made read-only as soon as I get finished posting these messages. Thanks for

[2019-12-19 15:31] #253 closed

[2019-12-19 15:32] saghm commented on #335
Hello everyone! We've just released an alpha of [an official MongoDB Rust driver](https://github.com/mongodb/mongo-rust-driver); you can read about it [here](https://blog.mongodb.com/blog/post/announcing-the-official-mongodb-rust-driver)! Because of this, we won't be updating this driver anymore, and the repository will be made read-only as soon as I get finished posting these messages. Thanks for

[2019-12-19 15:32] #335 closed

[2019-12-19 15:32] saghm commented on #293
Hello everyone! We've just released an alpha of [an official MongoDB Rust driver](https://github.com/mongodb/mongo-rust-driver); you can read about it [here](https://blog.mongodb.com/blog/post/announcing-the-official-mongodb-rust-driver)! Because of this, we won't be updating this driver anymore, and the repository will be made read-only as soon as I get finished posting these messages. Thanks for